.blog-title {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;

    .text {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            width: 150px;
            height: 2px;
            background: linear-gradient(45deg, $color_blue 0%, $color_pink 100%);
            position: absolute;
            bottom: -8px;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
}


.blog-general {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(215, 215, 215);
    margin-bottom: 25px;
    padding: 15px;
}

.blog-default {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(215, 215, 215);
    margin-bottom: 25px;
    margin-left: -8px;
    margin-right: -8px;

    img.wfull {
        overflow: hidden;
    }

    &:hover {
        .detail {
            color: #fff;

            &:before {
                opacity: 1;
                top: 0;
            }

            .enter {
                .en {
                    border: 3px solid rgb(255, 255, 255);
                    font-size: 25px;
                    padding-top: 3px;
                }
            }
        }
    }

    .detail {
        position: relative;
        z-index: 9;
        color: #000;
        padding: 15px;
        background: #fff;
        -webkit-transition: all .35s ease-in;
        transition: all .35s ease-in;

        @media only screen and (max-width: 991px) {
            padding: 10px;
        }


        &:before {
            opacity: 0;
            content: '';
            background: linear-gradient(to left, $color_pink, $color_blue);
            position: absolute;
            left: 0;
            top: -100%;
            z-index: -1;
            height: 100%;
            width: 100%;
            -webkit-transition: all .35s ease-in;
            transition: all .35s ease-in;
        }

        .title {
            display: block !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            height: 22px;
            margin-bottom: 10px;
            @media only screen and (max-width: 991px) {
                h5 {
                    font-size: 18px;
                }
            }    
        }

        .expert {
            display: block !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            height: 44px;
            margin-bottom: 10px;
        }

        .enter {
            position: absolute;
            left: 50%;
            top: -5px;
            transform: translate(-50%, -50%);

            .en {
                padding-top: 11px;
                background: -webkit-linear-gradient(to left, $color_pink, $color_blue);
                background: linear-gradient(to left, $color_pink, $color_blue);
                color: rgb(255, 255, 255);
                height: 40px;
                width: 40px;
                border-radius: 100%;
                text-align: center;
                cursor: pointer;
                -webkit-transition: all .35s ease-in;
                transition: all .35s ease-in;

            }
        }
    }

    .buttom {
        display: flex;
        padding: 5px;

        .box {
            width: 50%;

            .btn {
                font-size: 10px;
            }
        }
    }
}

.blog-product {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(215, 215, 215);
    margin-bottom: 25px;
    margin-left: -8px;
    margin-right: -8px;


    &:hover {
        .detail_cart_add {
            opacity: 1;
            top: 0;
        }
    }

    .detail {
        background: #fff;
        color: #000;
        padding: 15px;

        @media only screen and (max-width: 991px) {
            padding: 10px;
        }
    }

    .title {
        display: block !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        height: 22px;
        margin-bottom: 10px;
    }

    .expert {
        display: block !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        height: 45px;
        margin-bottom: 10px;
    }

    .price {
        text-align: center;
        padding: 10px 0;

        span {

            &.p1 {
                font-weight: bold;
                color: $color_blue;
            }

            &.p2 {
                font-weight: bold;
                color: $color_pink;
            }

            &.def {
                font-size: 14px;
                text-decoration: line-through;
            }
        }

        .discount {
            color: $color_pink;
            font-size: 25px;
            font-weight: bold;
        }

    }

    .detail_cart_add {
        opacity: 0;
        position: absolute;
        top: -100%;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        -webkit-transition: all .35s ease-in;
        transition: all .35s ease-in;

        .detail_cart {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            padding: 0 15px;
        }
    }
}

.btn.btn-dufault {
    border-radius: 40px;
    padding: 7px 15px;
    background: -webkit-linear-gradient(to left, $color_pink, $color_blue);
    background: linear-gradient(to left, $color_pink, $color_blue);
    -webkit-transition: all .35s ease-in;
    transition: all .35s ease-in;

    @media (min-width: 992px) {
        min-width: 140px;
        max-width: 100%;
    }

    &:hover {
        background: -webkit-linear-gradient(to left, $color_pink, $color_pink);
        background: linear-gradient(to left, $color_pink, $color_pink);
    }
}

.btn.btn-primary {
    color: $color_pink;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
    border-radius: 30px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(15deg, $color_pink, $color_pink);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    @media (min-width: 992px) {
        min-width: 140px;
        max-width: 100%;
    }

    i {
        color: $color_pink;
    }

    &:hover {
        border: 2px solid $color_pink;
        color: #fff;
        background: $color_pink;

        i {
            color: #fff;
        }
    }

    &:disabled {
        border: 2px solid $color_pink;
        color: #fff;
        background: $color_pink;
    }
}

.btn {
    &.w-a {
        min-width: auto;
    }
}

.btn-group {
    .btn {
        background: unset;
        color: unset;

        &.active {
            color: #fff;
            background: -webkit-linear-gradient(to left, $color_pink, $color_blue);
            background: linear-gradient(to left, $color_pink, $color_blue);
        }
    }
}