section.cart {
    .table-hover {
        .blog {
            display: flex;

            .box {
                width: auto;

                &.first {
                    display: ruby;
                    margin-right: 10px;
                }

                img {
                    max-width: 75px;

                    @media only screen and (max-width: 991px) {
                        max-width: 50px;
                    }
                }

                .detail {
                    display: block !important;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                    box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    height: 26px;
                }

                .spect {
                    display: ruby;

                    .right {
                        float: right;

                        .minus_plus {
                            width: 130px;

                            input {
                                text-align: center;
                                height: 28px;
                                border-radius: 30px !important;
                            }

                            .btn {
                                font-size: 10px;
                                min-width: 0;
                                padding: 5px 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.cart_payment {
    .blog-bank {
        margin: 15px 0;

        .form-check-input {
            top: 10px;
        }

        .box {
            display: inline-block;
            margin-right: 10px;

            .img {
                height: 45px;
                margin-top: -18px;
            }

        }
    }

    #customFile .custom-file-control:lang(en)::after {
        content: "Select file...";
    }

    #customFile .custom-file-control:lang(en)::before {
        content: "Click me";
    }

    /*when a value is selected, this class removes the content */
    .custom-file-control.selected:lang(en)::after {
        content: "" !important;
    }

    .custom-file {
        overflow: hidden;
    }

    .custom-file-control {
        white-space: nowrap;

    }

    table thead th {
        border-bottom: 2px solid #f9eff8;
        border-bottom-width: 2px;
        background: #f9eff8;
    }

    .table-bordered td,
    .table-bordered th {
        border: 1px solid rgb(73, 75, 151);
        border-bottom-color: rgb(73, 75, 151);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    
    .table-bordered th {
        border-top: 0;
        border-left: 0;
    }

    .table-bordered td{
        border-bottom: 0;
        border-left: 0;
    }

    .table-redius {
        overflow: hidden;
        width: auto;
        border: 2px solid transparent;
        border-radius: 30px;
        background:
            linear-gradient(to right, white, white),
            linear-gradient(15deg, $color_blue, $color_pink);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
            table {
            margin-bottom: 0;
        }
    }
}