section.contact {
    .address {
        i {
            font-size: 24px;
            margin-right: 8px;
            height: 35px;
            width: 35px;
            background: rgb(75, 150, 243);
            color: #fff;
            padding: 5px 7px;
            border-radius: 100%;
        }
        img {
            width: 50px;
            border-radius: 100%;
        }
    }
}