@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/SukhumvitSet-Medium.ttf');
}

body {
    font-family: 'Rajdhani';
    font-size: 15px;
    color: #3c3c3a;
    padding-top: 110px;

    @media only screen and (max-width: 991px) {
        padding-top: 60px;
    }

    .preloader {
        display: none;
    }

    a {
        color: unset;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin: 0;
    }
}

.wfull {
    width: 100%;
}


$color_blue: rgb(44, 84, 163);
$color_pink: rgb(178, 45, 108);
$color-bg: rgb(255, 255, 255);

.c-red {
    color: rgb(255, 0, 0);
}

.c_blue {
    color: $color_blue
}

.c_pink {
    color: $color_pink
}

.c_green {
    color: rgb(9, 151, 52)
}


/*------------------------- CSS @media ---------------------------*/
@media only screen and (min-width: 768px) {
    .max-xs {
        display: none !important;
    }

    .min-xs {
        display: unset !important;
    }
}

@media only screen and (min-width: 992px) {
    .min-sm {
        display: unset !important;
    }

    .max-sm {
        display: none !important;
    }
}

/*-------- max --------*/
@media only screen and (max-width: 767px) {
    .max-xs {
        display: unset !important;
    }

    .min-xs {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .min-sm {
        display: none !important;
    }

    .max-sm {
        display: unset !important;
    }
}

/*------------------------- // CSS @media  ---------------------------*/

header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;

    .logo {
        padding: 10px 0;

        @media only screen and (max-width: 991px) {
            padding: 0px 0;
        }

        img {
            width: 100px;

            @media only screen and (max-width: 991px) {
                width: 50px;
            }

            @media only screen and (max-width: 767px) {
                width: 35px;
            }
        }
    }

    .form_search {
        margin-top: 15px;
        display: flex;

        @media only screen and (max-width: 991px) {
            margin-top: 0px;
            display: block;
        }

        .blog {
            position: relative;
            min-width: 120px;
            text-align: center;
            padding-top: 8px;
            color: rgb(123, 13, 65);
            border-right: 1px solid rgb(227, 227, 227);

            @media only screen and (max-width: 991px) {
                min-width: 40px;
                float: right;
                border-right: 0px solid rgb(227, 227, 227) !important;
            }

            .img-lo {
                height: 23px;
            }

            a {

                i {
                    margin-right: 3px;
                    font-size: 18px;
                }
            }

            &.search {
                width: 100%;
                padding-top: 0;
                margin: 0 10px;
                border-right: 0px solid rgb(227, 227, 227);
            }

            &.cart {
                min-width: 70px;

                @media only screen and (max-width: 991px) {
                    min-width: 52px;
                }
            }

            &.lang {
                .active {
                    background: #813782;
                    color: #fff;
                    padding: 2px 3px;
                    border-radius: 15px;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .header-area .main-header .main-menu ul li a {
            font-size: 14px;
            padding: 15px 0px;
            margin: 0 13px;
        }
    }

    @media (min-width: 1100px) {
        .header-area .main-header .main-menu ul li a {
            font-size: 16px;
            padding: 15px 0px;
            margin: 0 8px;
        }
    }

    @media (min-width: 1200px) {
        .header-area .main-header .main-menu ul li a {
            font-size: 16px;
            padding: 15px 0px;
            margin: 0 17px;
        }
    }

    @media (min-width: 1300px) {
        .header-area .main-header .main-menu ul li a {
            font-size: 16px;
            padding: 15px 0px;
            margin: 0 20px;
        }
    }

    #navigation {
        a.active {
            color: $color_pink;
        }
    }
}

main {
    background-image: url('../../../../images/main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $color-bg;
    padding-top: 50px;
    min-height: 70vh;
}

section {
    padding-bottom: 25px;

    img {
        max-width: 100%;
    }
}

footer {
    background-image: url('../../../../images/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    .link {
        margin-bottom: 8px;
    }
}

.form-control {
    padding: .5rem;
    border: 2px solid transparent;
    border-radius: 30px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(15deg, $color_blue, $color_pink);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    &:focus {
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0);
    }

}

em.error {
    color: #aa3d7a;
}

.form-control-search {
    input {
        border-radius: 18px 0 0 18px;
    }

    .input-group-prepend {
        margin-left: -2px;
    }

    .input-group-text {
        color: #fff;
        border-radius: 0px 18px 18px 0px !important;
        border: 0;
        background: $color_blue;
        background: linear-gradient(45deg, $color_blue 0%, $color_pink 100%);
        transition: all .25s ease-in;

        &:hover {
            background: linear-gradient(45deg, $color_pink 0%, $color_blue 100%);
        }

        i {
            left: 0px;
        }
    }
}

.material-icons {
    font-size: 14px;
}

.rating {
    margin-top: 15px;

    .checked {
        color: orange;
    }
}

.slide_banner {
    position: relative;
    // display: flex;

    .col {
        padding: 0;
        width: 50%;

        .text {
            position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            left: 10%;
            bottom: 18%;
            font-size: 18px;
            width: fit-content;
            color: #505050;
            @media only screen and (max-width: 991px) {
                font-size: 11px;
                padding: 0 20px;
            }

            h1,
            h2,
            h5,
            p {
                margin: 0;
                font-weight: bold;
            }

            h1 {
                font-size: 45px;
                // color: $color_blue;
                letter-spacing: 3px;
                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                    letter-spacing: 0px;
                }
            }

            h2 {
                font-size: 35px;
                // background: -webkit-linear-gradient($color_pink, $color_blue);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                letter-spacing: 3px;
                @media only screen and (max-width: 991px) {
                    font-size: 13px;
                    letter-spacing: 0px;
                }
            }
            button {
                font-size: 25px;
                padding: 0 8px;
                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
        }
    }

    .enter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        @media only screen and (max-width: 991px) {
            top: 60%;
        }

        .en {
            padding-top: 25px;
            background: rgb(164, 49, 114);
            color: #fff;
            height: 80px;
            width: 80px;
            border-radius: 100%;
            text-align: center;
            cursor: pointer;
            @media only screen and (max-width: 991px) {
                padding-top: 20px;
                height: 70px;
                width: 70px;
            }
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            margin: 0 5px;
            border-radius: 40px;
            color: unset;
            background: rgb(219, 219, 219);
            border: 0px solid rgb(222, 226, 230);

            &:hover {
                color: #fff;
                background: -webkit-linear-gradient(to left, $color_pink, $color_blue);
                background: linear-gradient(to left, $color_pink, $color_blue);
            }

            &.active {
                color: #fff;
                background: -webkit-linear-gradient(to left, $color_pink, $color_blue);
                background: linear-gradient(to left, $color_pink, $color_blue);
            }
        }
    }
}

.social-icon {
    position: fixed;
    right: 10px;
    top: 50%;
    display: none;
    -webkit-transition: all .35s ease-in;
    transition: all .35s ease-in;

    &.scoll {
        display: unset;
    }

    .item {
        display: block;

        img {
            height: 40px;
            border-radius: 100%;
            margin-bottom: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
    }
}

.fa_search {
    position: relative;

    .fa-search {
        position: absolute;
        right: 12px;
        top: 10px;
        color: rgb(153, 153, 153);
        cursor: pointer;
    }
}

.table-responsive {
    table {

        td,
        th {
            min-width: 140px;
        }
    }
}