section.member {
    .profile-left {
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 15px;

        .top {
            position: relative;
            padding-top: 15px;
            background: linear-gradient(45deg, $color_blue 0%, $color_pink 100%);
            color: #fff;

            &::before {
                content: '';
                position: absolute;
                height: 25%;
                width: 100%;
                background: #fff;
                bottom: 0;
                left: 0;
            }

            img {
                position: relative;
                z-index: 9;
                background: rgb(238, 238, 238);
                max-width: 170px;
                border: 5px solid rgb(255, 255, 255);
                border-radius: 100%;
                padding: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                margin: 10px 0;
            }
        }

        .bottom {
            background: #fff;
        }
    }
}
