section.product {
    .kit {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 12px;
        background: rgb(168, 155, 153);
    }
}

section.product_detail {
    .expert {
        color: $color_pink;
    }

    img {
        max-width: 100%;
    }

    .minus_plus {
        width: 130px;

        input {
            text-align: center;
            height: 28px;
            border-radius: 30px !important;
        }

        .btn {
            min-width: 0;
            font-size: 10px;
            padding: 5px 10px;
        }
    }

    .tap_color {
        img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }

    .price {
        padding: 10px 0;

        span {

            &.p1 {
                font-size: 25px;
                font-weight: bold;
                color: $color_blue;
            }

            &.p2 {
                font-size: 20px;
                font-weight: bold;
                color: $color_pink;
            }

            &.def {
                font-size: 14px;
                text-decoration: line-through;
            }
        }

    }

    .btn-select-color {
        background: linear-gradient(to right, white, white), linear-gradient(15deg, #b22d6c, #b22d6c);
        color: #b22d6c;
        border: 2px solid #b22d6c;
        border-radius: 14px;

        &.active {
            background: linear-gradient(to left, #b22d6c, #b22d6c);
            color: #ffffff;
        }
    }


    .btn-select-size {
        background: linear-gradient(to right, white, white), linear-gradient(15deg, #b22d6c, #b22d6c);
        color: #b22d6c;
        border: 2px solid #b22d6c;
        border-radius: 14px;

        &.active {
            background: linear-gradient(to left, #b22d6c, #b22d6c);
            color: #ffffff;
        }
    }
}