.card-header {
    padding: .75rem 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(153, 153, 153);

    a {
        .fa-question {
            background: linear-gradient(to left, $color_pink, $color_blue);
            border-radius: 40px;
            padding: 5px 6px;
            color: rgb(255, 255, 255);
            font-size: 10px;
        }
    }
}

.card {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.card-body {
    border: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgba(153, 153, 153, 0);
    background: #fff;
}

.slicknav_nav a.active {
    color: rgb(158, 51, 116);
}

.modal {
    z-index: 9999;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.modal-dialog {

    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

    @media(max-width: 768px) {
        min-height: calc(100vh - 20px);
    }

    @media(min-width: 992px) {
        max-width: 620px;
    }

    .modal-content {
        border-radius: 0;

        .logo {
            width: 120px;
        }

        .close {
            position: absolute;
            right: 0;
            z-index: 99;
            background: $color_blue;
            color: rgb(255, 255, 255);
            opacity: 1;
            padding: 6px 12px;

            &:hover {
                opacity: 1 !important;
                background: $color_pink
            }
        }
    }
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
    color: rgb(255, 255, 255);
    border-radius: 0px 18px 18px 0px !important;
    border: 0;
    background: $color_blue;
    background: linear-gradient(45deg, $color_blue 0%, $color_pink 100%);
    transition: all .25s ease-in;
}

.enter {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9;
    margin: 0;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    padding: .5rem;
    border: 2px solid transparent;
    border-radius: 31px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(15deg, $color_blue, $color_pink);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.custom-file-label::after {
    top: -1px;
    right: -1px;
}

.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px rgb(209, 209, 209);
    border-radius: 0;

    &.show {
        top: 12px !important;
    }
}

.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: linear-gradient(45deg, $color_blue 0%, $color_pink 100%);
}

.tt-dataset {
    max-height: 180px;
    overflow: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.C-lsAction {
    position: absolute;
    width: 100%;
    top: 50%;
    @media(max-width: 991px) {
        top: 35%;
    }

    a {

        .nb {
            width: 50px;
            height: 50px;
            padding: 7px;
            border-radius: 100px;
            box-shadow: 0 0 2px rgb(164, 164, 164);
        }
        
        &:hover {
            path {
                fill: rgb(164, 49, 114);
            }
        }

        &#goToPrevSlide {
            float: left;
            margin-left: -30px;

            @media(max-width: 991px) {
                margin-left: 0px;
            }
        }

        &#goToNextSlide {
            float: right;
            margin-right: -30px;

            @media(max-width: 991px) {
                margin-right: 0px;
            }
        }
    }
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: rgb(156, 51, 116) !important;
}

.swal2-container {
    z-index: 9999 !important;
}