@charset "UTF-8";
/* line 1, ../sass/_all.scss */
.embed-container {
  position: relative;
  padding-bottom: 15px;
  overflow: hidden;
}

/* line 7, ../sass/_all.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/_all.scss */
.body-link-vdo {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 22, ../sass/_all.scss */
.body-link-vdo ul li {
  position: relative;
  display: block;
  padding-bottom: 10px;
  width: 100%;
}

/* line 29, ../sass/_all.scss */
.body-link-vdo ul li {
  float: left;
}

/* line 33, ../sass/_all.scss */
.body-link-vdo ul li {
  float: none;
}

/* line 37, ../sass/_all.scss */
.body-link-vdo ul li {
  margin-top: 10px;
  border-bottom: 1px solid #e8e8e8;
}

/* line 42, ../sass/_all.scss */
.bg-circle {
  margin-top: 6px;
  margin-left: 10px;
}

/* line 47, ../sass/_all.scss */
.circle-none {
  background: #9e9e9e;
  height: 30px;
  width: 30px;
  border-radius: 70px;
}

/* line 54, ../sass/_all.scss */
.circle-left {
  background: green;
  height: 30px;
  width: 16px;
  border-bottom-left-radius: 52px;
  border-top-left-radius: 52px;
  margin-right: 14px;
}

/* line 63, ../sass/_all.scss */
.circle-full {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 70px;
}

@media (min-width: 576px) {
  /* line 75, ../sass/_all.scss */
  .modal-dialog {
    max-width: 60%;
    top: calc(100vh - 95%);
  }
}
/* line 81, ../sass/_all.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

/* line 87, ../sass/_all.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 97, ../sass/_all.scss */
.btn-green {
  background: #28a745;
  color: #fff;
  font-size: 22px;
  padding: 1px 10px;
  border-radius: 30px;
}

/* line 105, ../sass/_all.scss */
.btn-red {
  background: red;
  color: #fff;
  font-size: 22px;
  padding: 1px 10px;
  border-radius: 30px;
}

/* line 113, ../sass/_all.scss */
a img {
  -webkit-appearance: none;
}

/* line 117, ../sass/_all.scss */
.user-review {
  width: 100%;
}

/* line 121, ../sass/_all.scss */
.rating {
  float: left;
}

/* line 125, ../sass/_all.scss */
.rating:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* line 130, ../sass/_all.scss */
.rating:not(:checked) > label {
  float: right;
  /* width: 1em; */
  padding: 0 .1em;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  cursor: pointer;
  /* font-size: 150%; */
  /* line-height: 1.2; */
  color: #58575b;
}

/* line 143, ../sass/_all.scss */
.rating:not(:checked) > label:before {
  content: '★ ';
}

/* line 147, ../sass/_all.scss */
.rating > input:checked ~ label {
  color: #ffa500;
}

/* line 152, ../sass/_all.scss */
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffa500;
}

/* line 158, ../sass/_all.scss */
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ffa500;
}

/* line 166, ../sass/_all.scss */
.rating:not(:checked) > label:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f005';
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

/* line 179, ../sass/_all.scss */
.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/* line 184, ../sass/_all.scss */
.progress-bar {
  background-color: #ffa501;
}

/* line 188, ../sass/_all.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 200, ../sass/_all.scss */
.bg-green {
  background-color: #00a65a !important;
}

/* line 203, ../sass/_all.scss */
.small, small {
  font-size: 85%;
}

/* line 208, ../sass/_all.scss */
#Curriculum .right .a1, #Curriculum .right .a2, #Curriculum .right .a3, #Curriculum .right .a4 {
  margin-left: 5px;
}

@font-face {
  font-family: 'THSarabunNew';
  src: url("../fonts/THSarabunNew.woff");
}
@font-face {
  font-family: 'THSarabunNew-Bold';
  src: url("../fonts/THSarabunNew-Bold.woff");
}
/* line 11, ../sass/_custom.scss */
body {
  font-family: 'THSarabunNew' !important;
  color: #58585B !important;
  font-size: 20px;
  background: rgba(41, 48, 59, 0.2);
}
/* line 17, ../sass/_custom.scss */
body .Bold {
  font-family: 'THSarabunNew-Bold' !important;
}
/* line 21, ../sass/_custom.scss */
body .blog-container {
  position: relative;
  width: 100%;
  padding-top: 120px;
  background: white;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
@media (max-width: 767px) {
  /* line 21, ../sass/_custom.scss */
  body .blog-container {
    padding-top: 90px;
  }
}
@media (min-width: 1366px) {
  /* line 21, ../sass/_custom.scss */
  body .blog-container {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
  }
}
/* line 41, ../sass/_custom.scss */
body a {
  color: #000;
}
/* line 44, ../sass/_custom.scss */
body a:hover {
  color: #000;
  text-decoration: none;
}
/* line 50, ../sass/_custom.scss */
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body P {
  margin: 0;
}
/* line 66, ../sass/_custom.scss */
body .ImgFluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media (max-width: 767px) {
  /* line 73, ../sass/_custom.scss */
  .min-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 73, ../sass/_custom.scss */
  .min-sm {
    display: block;
  }
}

@media (max-width: 767px) {
  /* line 81, ../sass/_custom.scss */
  .max-xs {
    display: block;
  }
}
@media (min-width: 768px) {
  /* line 81, ../sass/_custom.scss */
  .max-xs {
    display: none;
  }
}

/* line 111, ../sass/_custom.scss */
header {
  position: fixed;
  max-width: 1366px;
  z-index: 999;
  width: inherit;
  top: 0;
  box-shadow: 0px 2px 5px rgba(41, 48, 59, 0.3);
}
/* line 119, ../sass/_custom.scss */
header nav {
  background: #29303B;
}
@media (max-width: 767px) {
  /* line 123, ../sass/_custom.scss */
  header nav .navbar-toggler {
    border: 1px solid white;
    padding: 3px 13px;
    margin: 0;
  }
  /* line 128, ../sass/_custom.scss */
  header nav .navbar-toggler i {
    margin-top: 4px;
    color: #fff;
  }
}
/* line 135, ../sass/_custom.scss */
header nav .nav-link {
  color: #fff;
  padding: 0px;
  font-size: 28px;
}
/* line 142, ../sass/_custom.scss */
header .menu {
  background: #fff;
  padding: 5px 0px;
  font-size: 35px;
}
@media (max-width: 767px) {
  /* line 142, ../sass/_custom.scss */
  header .menu {
    font-size: 20px;
  }
}
/* line 151, ../sass/_custom.scss */
header .menu .blog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 157, ../sass/_custom.scss */
header .menu .blog .boxx1 {
  width: 50%;
}
@media (max-width: 767px) {
  /* line 157, ../sass/_custom.scss */
  header .menu .blog .boxx1 {
    width: 40%;
  }
}
/* line 163, ../sass/_custom.scss */
header .menu .blog .boxx2 {
  width: 50%;
}
@media (max-width: 767px) {
  /* line 163, ../sass/_custom.scss */
  header .menu .blog .boxx2 {
    width: 60%;
  }
}
/* line 171, ../sass/_custom.scss */
header .menu .logo {
  position: absolute;
  top: 58px;
  height: 100px;
  box-shadow: 0px 0px 0px 0px, 0px 3px 3px -3px rgba(41, 48, 59, 0.8);
  border-radius: 100%;
  background: #fff;
}
@media (max-width: 767px) {
  /* line 171, ../sass/_custom.scss */
  header .menu .logo {
    height: 40px;
    right: 4px;
    top: 4px;
  }
}
/* line 187, ../sass/_custom.scss */
header .menu .tv {
  display: flow-root;
  color: #29303b;
  padding-left: 145px;
}
@media (max-width: 767px) {
  /* line 187, ../sass/_custom.scss */
  header .menu .tv {
    padding-left: 0px;
  }
}
/* line 196, ../sass/_custom.scss */
header .menu .tv img {
  height: 30px;
}
@media (max-width: 767px) {
  /* line 196, ../sass/_custom.scss */
  header .menu .tv img {
    height: 15px;
  }
}
/* line 205, ../sass/_custom.scss */
header .menu .login {
  display: contents;
}
/* line 208, ../sass/_custom.scss */
header .menu .login #loginface {
  float: right;
}
/* line 212, ../sass/_custom.scss */
header .menu .login .dropdown {
  float: right;
  margin-left: 20px;
  padding-right: 28px;
}
@media (max-width: 767px) {
  /* line 212, ../sass/_custom.scss */
  header .menu .login .dropdown {
    margin-left: 0px;
    padding-right: 6px;
  }
}
/* line 222, ../sass/_custom.scss */
header .menu .login .dropdown.img {
  margin-left: 0px;
  padding-right: 0px;
}
@media (max-width: 767px) {
  /* line 222, ../sass/_custom.scss */
  header .menu .login .dropdown.img {
    padding-top: 0px;
  }
}
/* line 228, ../sass/_custom.scss */
header .menu .login .dropdown.img:after {
  opacity: 0;
}
/* line 234, ../sass/_custom.scss */
header .menu .login .dropdown:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  height: 40px;
  width: 2px;
  background: #ACACAC;
}
@media (max-width: 767px) {
  /* line 234, ../sass/_custom.scss */
  header .menu .login .dropdown:after {
    height: 18px;
  }
}
/* line 248, ../sass/_custom.scss */
header .menu .login .dropdown button {
  font-size: 35px;
  background: white;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 248, ../sass/_custom.scss */
  header .menu .login .dropdown button {
    font-size: 20px;
  }
}
/* line 256, ../sass/_custom.scss */
header .menu .login .dropdown button:after {
  display: none;
}
/* line 260, ../sass/_custom.scss */
header .menu .login .dropdown button i {
  font-size: 22px;
}
@media (max-width: 767px) {
  /* line 260, ../sass/_custom.scss */
  header .menu .login .dropdown button i {
    font-size: 18px;
  }
}
/* line 268, ../sass/_custom.scss */
header .menu .login .dropdown .dropdown-item {
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 268, ../sass/_custom.scss */
  header .menu .login .dropdown .dropdown-item {
    font-size: 18px;
  }
}
/* line 276, ../sass/_custom.scss */
header .menu .login .btn-custom {
  float: right;
  font-size: 35px;
  padding: 5px 10px;
  margin-left: 20px;
  line-height: 1;
}
@media (max-width: 767px) {
  /* line 276, ../sass/_custom.scss */
  header .menu .login .btn-custom {
    font-size: 20px;
  }
}
/* line 288, ../sass/_custom.scss */
header .menu .login .link {
  float: right;
  margin-left: 28px;
  font-size: 30px;
  position: relative;
}
/* line 294, ../sass/_custom.scss */
header .menu .login .link .noti {
  position: absolute;
  top: 2px;
  right: -10px;
  background: #b5001f;
  color: white;
  font-size: 22px;
  padding: 1px 6.5px;
  line-height: 1;
  border-radius: 100%;
  width: 22px;
  height: 22px;
}
@media (max-width: 767px) {
  /* line 294, ../sass/_custom.scss */
  header .menu .login .link .noti {
    font-size: 16px;
    padding: 1px 5px;
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  /* line 288, ../sass/_custom.scss */
  header .menu .login .link {
    margin-left: 7px;
    font-size: 15px;
  }
}
/* line 319, ../sass/_custom.scss */
header .menu .login .link i {
  padding-top: 15px;
  font-size: 22px;
}
@media (max-width: 767px) {
  /* line 319, ../sass/_custom.scss */
  header .menu .login .link i {
    padding-top: 7px;
    font-size: 18px;
  }
}
/* line 329, ../sass/_custom.scss */
header .menu .login .link img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  border-radius: 100%;
  border: 1px solid #abacab;
  margin-top: 1px;
}
@media (max-width: 767px) {
  /* line 329, ../sass/_custom.scss */
  header .menu .login .link img {
    width: 25px;
    height: 25px;
  }
}

/* line 347, ../sass/_custom.scss */
footer {
  font-size: 20px;
  color: #fff;
}
/* line 351, ../sass/_custom.scss */
footer .footer {
  background: #29303B;
  padding-top: 4%;
  padding-bottom: 4%;
}
/* line 356, ../sass/_custom.scss */
footer .footer a {
  color: #fff;
}
/* line 361, ../sass/_custom.scss */
footer .footer .detail0 .social {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  /* line 361, ../sass/_custom.scss */
  footer .footer .detail0 .social {
    padding-left: 20%;
  }
}
/* line 370, ../sass/_custom.scss */
footer .footer .detail0 .social .cool {
  width: 25%;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 370, ../sass/_custom.scss */
  footer .footer .detail0 .social .cool {
    width: 20%;
  }
}
/* line 377, ../sass/_custom.scss */
footer .footer .detail0 .social .cool img {
  height: 60px;
  width: 60px;
}
@media (max-width: 767px) {
  /* line 377, ../sass/_custom.scss */
  footer .footer .detail0 .social .cool img {
    height: 45px;
    width: 45px;
  }
}
/* line 389, ../sass/_custom.scss */
footer .footer .detail1 {
  text-align: center;
}
/* line 392, ../sass/_custom.scss */
footer .footer .detail1 img {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
  border-radius: 100%;
}
/* line 401, ../sass/_custom.scss */
footer .footer .detail2 .posit {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
/* line 409, ../sass/_custom.scss */
footer .footer .detail2 .head {
  text-align: center;
  font-size: 34px;
}
/* line 414, ../sass/_custom.scss */
footer .footer .detail2 .i {
  width: 25px;
  display: inline-flex;
  font-size: 15px;
}
/* line 422, ../sass/_custom.scss */
footer .coppy {
  background: #29303B;
  padding: 15px;
  text-align: center;
  border-top: 2px solid #fff;
}

/* line 430, ../sass/_custom.scss */
.form-control {
  font-size: 22px;
  padding: 2px 10px;
  border: 1px solid #707070;
}
/* line 434, ../sass/_custom.scss */
.form-control:focus {
  border: 1px solid #28BEE3;
  box-shadow: 0 0 0 0rem #85dff5;
}
/* line 438, ../sass/_custom.scss */
.form-control.error {
  border: 1px solid red;
}

/* line 444, ../sass/_custom.scss */
.btn-success i, .btn-info i, .btn-danger i {
  font-size: 15px;
}

/* line 450, ../sass/_custom.scss */
form label {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
}
/* line 455, ../sass/_custom.scss */
form .error {
  color: red;
}
/* line 458, ../sass/_custom.scss */
form .checkbox {
  position: relative;
}
/* line 461, ../sass/_custom.scss */
form .checkbox .name {
  position: absolute;
  top: 4px;
  left: 20px;
  color: #29303B;
  height: 22px;
  overflow: hidden;
}
/* line 470, ../sass/_custom.scss */
form .checkbox label {
  font-size: 18px;
}
/* line 472, ../sass/_custom.scss */
form .checkbox label input[type="checkbox"] {
  display: none;
}
/* line 476, ../sass/_custom.scss */
form .checkbox label input[type="checkbox"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}
/* line 482, ../sass/_custom.scss */
form .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
/* line 487, ../sass/_custom.scss */
form .checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: .5;
}
/* line 492, ../sass/_custom.scss */
form .checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  float: left;
}
/* line 501, ../sass/_custom.scss */
form .checkbox .cr .cr-icon {
  position: absolute;
  font-size: 10px;
  line-height: 0;
  top: 50%;
  left: 20%;
}

/* line 513, ../sass/_custom.scss */
.title {
  text-align: center;
  color: #038FE1;
  margin: 50px 0 30px 0;
}
/* line 519, ../sass/_custom.scss */
.title h1 {
  font-size: 40px;
  position: relative;
  display: inline-flex;
}
@media (max-width: 767px) {
  /* line 519, ../sass/_custom.scss */
  .title h1 {
    font-size: 30px;
  }
}
/* line 527, ../sass/_custom.scss */
.title h1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 2px;
  background: #038FE1;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 527, ../sass/_custom.scss */
  .title h1:before {
    width: 145px;
  }
}
/* line 543, ../sass/_custom.scss */
.title .text {
  margin-top: 5px;
  font-size: 30px;
  color: #ACACAC;
}
@media (max-width: 767px) {
  /* line 543, ../sass/_custom.scss */
  .title .text {
    font-size: 17px;
  }
}

/* line 553, ../sass/_custom.scss */
.btn-custom {
  font-size: 28px;
  color: white;
  background-color: #038FE1;
  border-radius: .25rem;
  padding: 2px 10px;
}
/* line 561, ../sass/_custom.scss */
.btn-custom:hover {
  color: white;
  background-color: #005c91;
}

/* line 569, ../sass/_custom.scss */
.pagination li a {
  color: #ACACAC;
  border: 0px solid #000;
  border-radius: 100% !important;
  padding: 2px 12px;
  height: 30px;
  width: 30px;
  margin: 0;
  margin-right: 5px;
}
/* line 579, ../sass/_custom.scss */
.pagination li a.active {
  background: #038FE1;
  color: #fff;
}

@media (min-width: 576px) {
  /* line 588, ../sass/_custom.scss */
  .modal-dialog {
    max-width: 60%;
  }
}
/* line 593, ../sass/_custom.scss */
.Form_login {
  border: 1px solid transparent;
}
/* line 596, ../sass/_custom.scss */
.Form_login .modal-body {
  padding: 0;
}
/* line 599, ../sass/_custom.scss */
.Form_login .modal-body .blog-col {
  display: flex;
}
@media (max-width: 992px) {
  /* line 599, ../sass/_custom.scss */
  .Form_login .modal-body .blog-col {
    display: block;
  }
}
/* line 606, ../sass/_custom.scss */
.Form_login .modal-body .blog-col .blog {
  width: 50%;
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media (max-width: 992px) {
  /* line 606, ../sass/_custom.scss */
  .Form_login .modal-body .blog-col .blog {
    width: 100%;
  }
}
/* line 619, ../sass/_custom.scss */
.Form_login .box-left {
  font-size: 26px;
  padding: 12%;
}
/* line 623, ../sass/_custom.scss */
.Form_login .box-left h2 {
  color: #28BEE3;
  font-size: 30px;
}
/* line 628, ../sass/_custom.scss */
.Form_login .box-left .remember {
  margin: 15px 0;
  display: flex;
}
/* line 632, ../sass/_custom.scss */
.Form_login .box-left .remember .ww {
  width: 50%;
}
/* line 635, ../sass/_custom.scss */
.Form_login .box-left .remember .ww .custom-control-label {
  padding-left: 22px;
}
/* line 638, ../sass/_custom.scss */
.Form_login .box-left .remember .ww .custom-control-label:before {
  top: 8px;
  left: 0;
  width: 18px;
  height: 18px;
}
/* line 646, ../sass/_custom.scss */
.Form_login .box-left .remember .ww button {
  font-size: 26px;
  line-height: 1;
  background: #28BEE3;
  border-color: #28BEE3;
  padding: 5px 15px;
}
/* line 654, ../sass/_custom.scss */
.Form_login .box-left .remember .ww.r {
  text-align: right;
}
/* line 660, ../sass/_custom.scss */
.Form_login .box-left .login_face {
  text-align: center;
  margin-top: 15px;
}
/* line 664, ../sass/_custom.scss */
.Form_login .box-left .login_face img {
  width: auto;
  height: 40px;
}
/* line 671, ../sass/_custom.scss */
.Form_login .box-rigth {
  padding: 10%;
}
/* line 674, ../sass/_custom.scss */
.Form_login .box-rigth .logos {
  text-align: center;
}
/* line 677, ../sass/_custom.scss */
.Form_login .box-rigth .logos img {
  width: 100px;
}
/* line 682, ../sass/_custom.scss */
.Form_login .box-rigth .text {
  padding: 5% 20%;
  font-size: 22px;
}
/* line 686, ../sass/_custom.scss */
.Form_login .box-rigth .text h2 {
  font-size: 30px;
}
/* line 691, ../sass/_custom.scss */
.Form_login .box-rigth .btn-custom {
  border: 2px solid #fff;
  background: #B5001F;
}
/* line 697, ../sass/_custom.scss */
.Form_login .close {
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 9;
}

/* line 705, ../sass/_custom.scss */
.background-image {
  background: #fff;
  margin: 60px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #9a9a9a;
}

/* line 713, ../sass/_custom.scss */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 108, 223, 0);
}

/* line 718, ../sass/_custom.scss */
.MenuCourses {
  box-shadow: 2px 2px 8px #dadada;
  border-radius: 5px;
  padding: 8px;
}
/* line 723, ../sass/_custom.scss */
.MenuCourses h2 {
  padding: 5px 0;
}
/* line 727, ../sass/_custom.scss */
.MenuCourses .sidebar-menu {
  list-style-type: none;
  padding: 0;
}
/* line 730, ../sass/_custom.scss */
.MenuCourses .sidebar-menu a {
  font-size: 25px;
  padding: 2px 0px 2px 2px;
}
/* line 734, ../sass/_custom.scss */
.MenuCourses .sidebar-menu a i {
  font-size: 15px;
  margin-right: 5px;
}
/* line 739, ../sass/_custom.scss */
.MenuCourses .sidebar-menu a img {
  width: 15px;
  margin-top: -5px;
}
/* line 746, ../sass/_custom.scss */
.MenuCourses .sidebar-menu .sidebar-submenu a {
  font-size: 20px;
}
/* line 749, ../sass/_custom.scss */
.MenuCourses .sidebar-menu .sidebar-submenu a i {
  font-size: 15px;
  margin-right: 0;
}
/* line 754, ../sass/_custom.scss */
.MenuCourses .sidebar-menu .sidebar-submenu a img {
  width: 13px;
  margin-top: -5px;
}

/* line 763, ../sass/_custom.scss */
.social {
  margin: 15px 0;
}
/* line 765, ../sass/_custom.scss */
.social a {
  color: #fff;
}
/* line 769, ../sass/_custom.scss */
.social .boxx {
  padding: 5px 10px;
  display: inline-block;
}
/* line 773, ../sass/_custom.scss */
.social .boxx.f {
  background: #3D5A96;
}
/* line 777, ../sass/_custom.scss */
.social .boxx.t {
  background: #2AA3EF;
}
/* line 781, ../sass/_custom.scss */
.social .boxx.g {
  background: #DA483F;
}

/* line 788, ../sass/_custom.scss */
.mb-5 {
  margin-bottom: 50px !important;
}

/* line 791, ../sass/_custom.scss */
.mb-4 {
  margin-bottom: 40px !important;
}

/* line 794, ../sass/_custom.scss */
.mb-3 {
  margin-bottom: 30px !important;
}

/* line 797, ../sass/_custom.scss */
.mb-2 {
  margin-bottom: 20px !important;
}

/* line 801, ../sass/_custom.scss */
#data-list_wrapper {
  width: 100%;
}

/* line 1, ../sass/_coursesItem.scss */
.CoursesItem {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 8, ../sass/_coursesItem.scss */
.CoursesItem .Item {
  padding: 0 10px;
}
@media (max-width: 767px) {
  /* line 8, ../sass/_coursesItem.scss */
  .CoursesItem .Item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 8, ../sass/_coursesItem.scss */
  .CoursesItem .Item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 8, ../sass/_coursesItem.scss */
  .CoursesItem .Item {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  /* line 8, ../sass/_coursesItem.scss */
  .CoursesItem .Item {
    width: 33.33%;
  }
}
@media (min-width: 1366px) {
  /* line 8, ../sass/_coursesItem.scss */
  .CoursesItem .Item {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  /* line 32, ../sass/_coursesItem.scss */
  .CoursesItem .Item.colum4 {
    width: 25%;
  }
}
/* line 37, ../sass/_coursesItem.scss */
.CoursesItem .Item.colum4 .boxx .detail {
  padding: 10px 15px;
}
/* line 43, ../sass/_coursesItem.scss */
.CoursesItem .Item .boxx {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px #d4d4d4;
  border-radius: 8px;
}
/* line 51, ../sass/_coursesItem.scss */
.CoursesItem .Item .img {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
/* line 57, ../sass/_coursesItem.scss */
.CoursesItem .Item .img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 8px 8px 0px 0px;
  height: 210px;
  object-fit: cover;
}
@media (max-width: 767px) {
  /* line 57, ../sass/_coursesItem.scss */
  .CoursesItem .Item .img img {
    height: 100px;
  }
}
/* line 69, ../sass/_coursesItem.scss */
.CoursesItem .Item .img:hover .hovv {
  display: block;
}
/* line 74, ../sass/_coursesItem.scss */
.CoursesItem .Item .img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 80, ../sass/_coursesItem.scss */
.CoursesItem .Item .img .hovv {
  display: none;
  position: absolute;
  background: rgba(41, 48, 59, 0.9);
  height: 100%;
  top: 0;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  z-index: 99;
}
/* line 91, ../sass/_coursesItem.scss */
.CoursesItem .Item .img .hovv .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  width: fit-content;
}
/* line 99, ../sass/_coursesItem.scss */
.CoursesItem .Item .img .hovv .text span {
  color: #fff;
}
/* line 107, ../sass/_coursesItem.scss */
.CoursesItem .Item .ribbin {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 22px;
  line-height: 1.1;
  z-index: 9;
}
/* line 115, ../sass/_coursesItem.scss */
.CoursesItem .Item .ribbin .box {
  color: #fff;
  padding: 0px 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 2px;
  display: table;
}
/* line 123, ../sass/_coursesItem.scss */
.CoursesItem .Item .ribbin .box.new {
  background: #28BEE3;
}
/* line 127, ../sass/_coursesItem.scss */
.CoursesItem .Item .ribbin .box.pro {
  background: #FF0000;
}
/* line 133, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail {
  padding: 30px 60px;
}
@media (max-width: 767px) {
  /* line 133, ../sass/_coursesItem.scss */
  .CoursesItem .Item .detail {
    padding: 10px 5px;
  }
}
/* line 138, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .name {
  color: #29303B;
  text-align: center;
  font-size: 26px;
  height: 55px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
@media (max-width: 767px) {
  /* line 138, ../sass/_coursesItem.scss */
  .CoursesItem .Item .detail .name {
    font-size: 20px;
    height: 43px;
  }
}
/* line 164, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .teacher {
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
  height: 40px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
@media (max-width: 767px) {
  /* line 164, ../sass/_coursesItem.scss */
  .CoursesItem .Item .detail .teacher {
    padding: 5px 0;
    line-height: 1;
  }
}
/* line 189, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .text {
  margin-top: 5px;
  height: 65px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
/* line 209, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .dateview {
  font-size: 15px;
  display: flex;
  margin-top: 8px;
}
/* line 214, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .dateview .deta {
  width: 80%;
}
/* line 217, ../sass/_coursesItem.scss */
.CoursesItem .Item .detail .dateview .view {
  width: 20%;
  text-align: right;
}
/* line 224, ../sass/_coursesItem.scss */
.CoursesItem .Item .price {
  text-align: center;
}
/* line 227, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion {
  background: #FF0000;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 237, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion:hover {
  box-shadow: 0px 0px 5px #FF0000;
}
/* line 241, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion .left {
  width: 50%;
  font-size: 20px;
  position: relative;
  line-height: 1;
  padding-top: 8px;
}
@media (max-width: 767px) {
  /* line 241, ../sass/_coursesItem.scss */
  .CoursesItem .Item .price .promotion .left {
    width: 100%;
    font-size: 16px;
    line-height: 1;
    padding-top: 8px;
  }
}
/* line 254, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion .left:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background: white;
  right: 0;
  top: 5px;
}
@media (max-width: 767px) {
  /* line 254, ../sass/_coursesItem.scss */
  .CoursesItem .Item .price .promotion .left:before {
    width: 100%;
    height: 1px;
    top: 40px;
    background: #ca0100;
  }
}
/* line 270, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion .left .ket {
  text-decoration: line-through;
}
/* line 275, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .promotion .right {
  width: 50%;
  font-size: 33px;
}
@media (max-width: 767px) {
  /* line 275, ../sass/_coursesItem.scss */
  .CoursesItem .Item .price .promotion .right {
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
  }
}
/* line 286, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .normal {
  background: #29303b;
  color: white;
  display: inline-block;
  font-size: 33px;
  padding: 3px 10%;
}
@media (max-width: 767px) {
  /* line 286, ../sass/_coursesItem.scss */
  .CoursesItem .Item .price .normal {
    font-size: 25px;
    padding: 2px 5%;
  }
}
/* line 297, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .normal:hover {
  box-shadow: 0px 0px 5px #29303b;
}
/* line 302, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .free {
  background: #25A946;
  color: white;
  display: inline-block;
  font-size: 33px;
  padding: 3px 10%;
}
@media (max-width: 767px) {
  /* line 302, ../sass/_coursesItem.scss */
  .CoursesItem .Item .price .free {
    font-size: 25px;
    padding: 2px 5%;
  }
}
/* line 312, ../sass/_coursesItem.scss */
.CoursesItem .Item .price .free:hover {
  box-shadow: 0px 0px 5px #25A946;
}

/* line 320, ../sass/_coursesItem.scss */
.CoursesItem-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 326, ../sass/_coursesItem.scss */
.CoursesItem-list .img {
  width: 30%;
}
/* line 329, ../sass/_coursesItem.scss */
.CoursesItem-list .img img {
  border-radius: 8px;
  object-fit: cover;
}
/* line 336, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text {
  width: 50%;
  padding: 0 10px;
}
/* line 340, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text .name {
  font-size: 22px;
  height: 22px;
  width: 100%;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
/* line 360, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text .user {
  display: flex;
}
/* line 363, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text .user .left {
  width: 45px;
}
/* line 365, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text .user .left img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100%;
}
/* line 372, ../sass/_coursesItem.scss */
.CoursesItem-list .detail-text .user .right {
  font-size: 18px;
  width: 100%;
  margin-left: 5px;
  padding: 10px 5px;
}
/* line 381, ../sass/_coursesItem.scss */
.CoursesItem-list .price {
  width: 20%;
}

/* line 6, ../sass/_home.scss */
section.Home #slide_banner .item img {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  /* line 6, ../sass/_home.scss */
  section.Home #slide_banner .item img {
    height: 220px;
  }
}
/* line 21, ../sass/_home.scss */
section.Home #Great_Teacher .item {
  text-align: center;
}
/* line 24, ../sass/_home.scss */
section.Home #Great_Teacher .item .detail {
  color: #ACACAC;
}
/* line 28, ../sass/_home.scss */
section.Home #Great_Teacher .item .img {
  text-align: center;
  width: 100%;
}
/* line 32, ../sass/_home.scss */
section.Home #Great_Teacher .item .img img {
  max-width: 200px;
  display: unset;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #a9a9a9;
}
/* line 45, ../sass/_home.scss */
section.Home .Getup_Teacher img {
  box-shadow: 0px 0px 10px #a9a9a9;
}
/* line 49, ../sass/_home.scss */
section.Home .Getup_Teacher .text {
  color: #ACACAC;
}
/* line 52, ../sass/_home.scss */
section.Home .Getup_Teacher .text .calendar {
  margin-top: 10px;
}
/* line 55, ../sass/_home.scss */
section.Home .Getup_Teacher .text .calendar span {
  font-size: 16px;
  margin-right: 10px;
}
/* line 62, ../sass/_home.scss */
section.Home .Getup_Teacher .details1 {
  margin-bottom: 6%;
}
/* line 66, ../sass/_home.scss */
section.Home .Getup_Teacher .details2 {
  margin-bottom: 15px;
}
/* line 70, ../sass/_home.scss */
section.Home .Getup_Teacher .details2:hover img {
  box-shadow: 0px 0px 18px #adadad;
}
/* line 78, ../sass/_home.scss */
section.Home .Reviews {
  background: #28BEE3;
  color: #fff;
  padding-bottom: 5%;
}
/* line 83, ../sass/_home.scss */
section.Home .Reviews .title {
  color: #fff;
}
/* line 87, ../sass/_home.scss */
section.Home .Reviews .title h1:before {
  background: #fff;
}
/* line 94, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx {
  background: #fff;
  float: left;
  color: #000;
  padding: 5%;
  border-radius: 8px;
  width: 100%;
}
/* line 106, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx .detail .user .img {
  text-align: center;
}
/* line 109, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx .detail .user .img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: unset;
  border-radius: 100%;
  border: 2px solid #F898E1;
  margin-bottom: 8px;
}
/* line 120, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx .detail .user .name {
  text-align: center;
}
/* line 123, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx .detail .user .name span {
  background: #fcd4f3;
  color: #f915c3;
  border-radius: 10px;
  padding: 0 10px;
}
/* line 131, ../sass/_home.scss */
section.Home .Reviews #Reviews .boxx .detail .text {
  height: 115px;
  overflow: hidden;
}
/* line 141, ../sass/_home.scss */
section.Home .Reviews .owl-dots button span {
  width: 80px;
  background: white;
}
/* line 147, ../sass/_home.scss */
section.Home .Reviews .owl-dots button.active span {
  background: #038FE1;
}
/* line 157, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx {
  box-shadow: 0px 0px 10px #a9a9a9;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 163, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  height: 255px;
  object-fit: cover;
}
/* line 169, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 175, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: #fff;
  padding: 10px;
  line-height: 1;
}
/* line 184, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx .text span {
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 184, ../sass/_home.scss */
  section.Home .GETUP_BLOG .boxx .text span {
    font-size: 20px;
  }
}
/* line 191, ../sass/_home.scss */
section.Home .GETUP_BLOG .boxx .text p {
  font-size: 24px;
}
@media (max-width: 767px) {
  /* line 191, ../sass/_home.scss */
  section.Home .GETUP_BLOG .boxx .text p {
    font-size: 25px;
  }
}

/* line 4, ../sass/_courses.scss */
section.courses #slide_banner .item img {
  height: 200px;
  object-fit: cover;
}
/* line 11, ../sass/_courses.scss */
section.courses .menu_left {
  box-shadow: 1px 2px 4px rgba(41, 48, 59, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
/* line 16, ../sass/_courses.scss */
section.courses .menu_left.no_shadow {
  box-shadow: 0px 0px 0px rgba(41, 48, 59, 0.3);
}
@media (max-width: 767px) {
  /* line 11, ../sass/_courses.scss */
  section.courses .menu_left {
    width: 100%;
  }
}
/* line 23, ../sass/_courses.scss */
section.courses .menu_left form {
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  color: #29303B;
}
/* line 29, ../sass/_courses.scss */
section.courses .menu_left form .form-control {
  font-size: 18px;
}
/* line 33, ../sass/_courses.scss */
section.courses .menu_left form i {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 40, ../sass/_courses.scss */
section.courses .menu_left form label.head {
  font-size: 20px;
}
/* line 50, ../sass/_courses.scss */
section.courses .CoursesItem .Item .img img {
  height: 160px;
}
@media (max-width: 767px) {
  /* line 50, ../sass/_courses.scss */
  section.courses .CoursesItem .Item .img img {
    height: 100px;
  }
}
/* line 58, ../sass/_courses.scss */
section.courses .CoursesItem .Item .detail {
  padding: 15px 25px;
}
/* line 61, ../sass/_courses.scss */
section.courses .CoursesItem .Item .detail .name {
  font-size: 20px;
  height: 42px;
}
/* line 69, ../sass/_courses.scss */
section.courses .CoursesItem .Item .price .promotion .left {
  font-size: 14px;
  padding-top: 5px;
}
/* line 73, ../sass/_courses.scss */
section.courses .CoursesItem .Item .price .promotion .left:before {
  height: 26px;
  top: 5px;
}
@media (max-width: 767px) {
  /* line 73, ../sass/_courses.scss */
  section.courses .CoursesItem .Item .price .promotion .left:before {
    width: 100%;
    height: 1px;
    top: 34px;
    background: #ca0100;
  }
}
/* line 85, ../sass/_courses.scss */
section.courses .CoursesItem .Item .price .promotion .right {
  font-size: 24px;
}
@media (max-width: 767px) {
  /* line 85, ../sass/_courses.scss */
  section.courses .CoursesItem .Item .price .promotion .right {
    font-size: 18px;
  }
}
/* line 93, ../sass/_courses.scss */
section.courses .CoursesItem .Item .price .normal {
  font-size: 24px;
}
@media (max-width: 767px) {
  /* line 93, ../sass/_courses.scss */
  section.courses .CoursesItem .Item .price .normal {
    font-size: 18px;
  }
}
/* line 100, ../sass/_courses.scss */
section.courses .CoursesItem .Item .price .free {
  font-size: 24px;
}
@media (max-width: 767px) {
  /* line 100, ../sass/_courses.scss */
  section.courses .CoursesItem .Item .price .free {
    font-size: 18px;
  }
}

/* line 111, ../sass/_courses.scss */
section.courses_detail {
  margin-bottom: 50px;
}
/* line 113, ../sass/_courses.scss */
section.courses_detail h1 {
  color: #29303B;
  font-size: 36px;
}
@media (max-width: 767px) {
  /* line 113, ../sass/_courses.scss */
  section.courses_detail h1 {
    font-size: 25px;
  }
}
/* line 122, ../sass/_courses.scss */
section.courses_detail h2 {
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 122, ../sass/_courses.scss */
  section.courses_detail h2 {
    font-size: 25px;
  }
}
/* line 132, ../sass/_courses.scss */
section.courses_detail .detail_left .video img.pro {
  height: 380px;
  object-fit: cover;
}
@media (max-width: 767px) {
  /* line 132, ../sass/_courses.scss */
  section.courses_detail .detail_left .video img.pro {
    font-size: 30px;
  }
}
/* line 141, ../sass/_courses.scss */
section.courses_detail .detail_left .video a {
  color: #fff;
}
/* line 148, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-detail .Bold {
  margin-top: 15px;
}
/* line 152, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-detail .overlate {
  overflow: hidden;
  max-height: 150px;
  font-size: 26px;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
@media (max-width: 767px) {
  /* line 152, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-detail .overlate {
    font-size: 21px;
  }
}
/* line 165, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-detail #overlate {
  color: #038fe1;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 165, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-detail #overlate {
    font-size: 22px;
  }
}
/* line 173, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-detail #overlate i {
  font-size: 17px;
}
/* line 179, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning {
  display: grid;
  margin-bottom: 25px;
}
/* line 184, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .head {
  display: flex;
  background: #EBE9F2;
  font-size: 28px;
  padding: 5px 10px;
}
@media (max-width: 767px) {
  /* line 184, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses_lerning .boox .head {
    font-size: 22px;
  }
}
/* line 194, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt {
  padding: 8px 0px;
  padding-left: 22px;
  border-bottom: 1px solid #EBE9F2;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
/* line 202, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .name {
  font-size: 24px;
  float: left;
}
@media (max-width: 767px) {
  /* line 202, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses_lerning .boox .listt .name {
    font-size: 18px;
  }
}
/* line 209, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .name i {
  margin-right: 8px;
  font-size: 11px;
  background: #fecc07;
  color: white;
  padding: 8px 8px 8px 9px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
/* line 221, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .rigth {
  float: right;
  margin-top: 8px;
}
/* line 225, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .rigth span {
  margin-left: 8px;
}
/* line 229, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .e {
  padding: 0px 5px;
  background: #28BEE3;
  color: #fff;
  border-radius: 8px;
}
/* line 236, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .i {
  font-size: 20px;
  color: #038FE1;
}
/* line 241, ../sass/_courses.scss */
section.courses_detail .detail_left .courses_lerning .boox .listt .rigth .m {
  font-size: 20px;
  min-width: 75px;
  display: inline-block;
  text-align: right;
}
/* line 252, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher {
  display: flex;
}
/* line 255, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .img {
  width: 110px;
}
@media (max-width: 767px) {
  /* line 255, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher .img {
    width: 80px;
  }
}
/* line 261, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
}
@media (max-width: 767px) {
  /* line 261, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher .img img {
    width: 55px;
    height: 55px;
  }
}
/* line 273, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .text {
  width: 100%;
}
/* line 276, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .text .name {
  font-size: 28px;
  color: #038FE1;
}
@media (max-width: 767px) {
  /* line 276, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher .text .name {
    font-size: 22px;
  }
}
/* line 285, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .text .pp .p {
  font-size: 26px;
  line-height: 1.2;
  max-height: 120px;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 285, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher .text .pp .p {
    font-size: 20px;
  }
}
/* line 295, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .text .pp #overlate {
  color: #038FE1;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 295, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher .text .pp #overlate {
    font-size: 22px;
  }
}
/* line 302, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher .text .pp #overlate i {
  font-size: 17px;
}
/* line 310, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review {
  display: flex;
  padding: 20px 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 310, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-review {
    padding: 20px 0px;
  }
}
/* line 320, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .all-review {
  width: 25%;
  text-align: center;
  margin-right: 20px;
  padding: 10px 10px;
}
@media (max-width: 767px) {
  /* line 320, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-review .all-review {
    width: 30%;
    margin-right: 5px;
    padding: 10px 2px;
  }
}
/* line 332, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .all-review .rating-type {
  margin: 0;
  font-size: 100px;
}
@media (max-width: 767px) {
  /* line 332, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-review .all-review .rating-type {
    font-size: 30px;
  }
}
/* line 341, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .all-review .cours-star {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}
/* line 346, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .all-review .cours-star li {
  display: inline-block;
  list-style: none;
}
/* line 350, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .all-review .cours-star li.active {
  color: #ffa500;
}
@media (max-width: 767px) {
  /* line 354, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-review .all-review .cours-star li i {
    font-size: 10px;
  }
}
/* line 363, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar {
  width: 75%;
  font-size: 26px;
}
@media (max-width: 767px) {
  /* line 363, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-review .review-bar {
    width: 70%;
    font-size: 15px;
  }
}
/* line 372, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar .bar-bx {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 400;
  color: #000;
}
/* line 379, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar .bar-bx .side {
  width: 15%;
}
/* line 383, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar .bar-bx .progress {
  width: 75%;
  height: 15px;
  border-radius: 15px;
}
/* line 388, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar .bar-bx .progress .progress-bar {
  border-radius: 15px;
}
/* line 393, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-review .review-bar .bar-bx .percen {
  text-align: right;
  width: 10%;
}
/* line 401, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 {
  display: flex;
}
/* line 404, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .img {
  width: 80px;
}
/* line 407, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
/* line 415, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .name {
  font-size: 28px;
  width: 200px;
}
@media (max-width: 767px) {
  /* line 415, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher2 .name {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  /* line 423, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher2 .name li i {
    font-size: 10px;
  }
}
/* line 431, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .text {
  width: 100%;
}
/* line 435, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .text .pp .p {
  font-size: 26px;
  line-height: 1.2;
  max-height: 128px;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 435, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher2 .text .pp .p {
    font-size: 20px;
  }
}
/* line 445, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate {
  color: #038FE1;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 445, ../sass/_courses.scss */
  section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate {
    font-size: 22px;
  }
}
/* line 452, ../sass/_courses.scss */
section.courses_detail .detail_left .courses-teaher2 .text .pp #overlate i {
  font-size: 17px;
}
/* line 464, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail {
  color: #29303B;
  margin-bottom: 15px;
  box-shadow: 0px 0px 8px #d4d4d4;
  border-collapse: collapse;
  border-radius: 10px;
  position: sticky;
  top: 140px;
}
/* line 473, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .img {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
/* line 479, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 8px 8px 0px 0px;
  height: 210px;
  object-fit: cover;
}
/* line 488, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price {
  text-align: center;
}
/* line 491, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .num {
  line-height: 0.8;
  padding: 10px 0px;
}
/* line 495, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .num .a {
  padding-top: 18px;
  font-size: 70px;
}
@media (max-width: 767px) {
  /* line 495, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .price .num .a {
    font-size: 30px;
  }
}
/* line 504, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .num .b {
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 504, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .price .num .b {
    font-size: 25px;
  }
}
/* line 514, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa {
  margin-bottom: 10px;
}
/* line 517, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom {
  background: #25A946;
  font-size: 38px;
  box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
}
@media (max-width: 767px) {
  /* line 517, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom {
    font-size: 30px;
  }
}
/* line 525, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .bt .aa .btn-custom.btn-promo {
  background: red;
}
/* line 532, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .price .bt .bb .btn-custom {
  border: 1px solid red;
  color: red;
  background: white;
  font-size: 38px;
  box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
  width: auto;
  display: inline-block;
  line-height: 1.2;
}
/* line 546, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .text {
  padding: 10px 15px;
  line-height: 1.2;
  margin-top: 15px;
}
/* line 551, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .text .p {
  font-size: 26px;
  position: relative;
  padding-left: 25px;
  color: #58575b;
}
@media (max-width: 767px) {
  /* line 551, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .text .p {
    font-size: 20px;
  }
}
/* line 561, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .text .p i {
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 5px;
}
@media (max-width: 767px) {
  /* line 561, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .text .p i {
    font-size: 10px;
  }
}
/* line 574, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .list-group {
  margin-top: 15px;
}
@media (max-width: 767px) {
  /* line 577, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .list-group a {
    font-size: 20px;
  }
}
/* line 582, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .list-group a li {
  font-size: 26px;
  padding: 2px 15px;
  border: 0;
  border-radius: 0;
  color: #000;
}
@media (max-width: 767px) {
  /* line 582, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .list-group a li {
    font-size: 20px;
  }
}
/* line 593, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .list-group a li.active {
  color: #fff;
  background: #038fe1;
  margin-bottom: 8px;
}
/* line 602, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .shrare {
  text-align: center;
  border-top: 1px solid #EBE9F2;
}
/* line 606, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .shrare a {
  color: #ACACAC;
}
/* line 609, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .shrare a span {
  font-size: 32px;
}
@media (max-width: 767px) {
  /* line 609, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .shrare a span {
    font-size: 25px;
  }
}
/* line 616, ../sass/_courses.scss */
section.courses_detail .detail_rigth .CoursesDetail .shrare a span i {
  font-size: 20px;
}
@media (max-width: 767px) {
  /* line 616, ../sass/_courses.scss */
  section.courses_detail .detail_rigth .CoursesDetail .shrare a span i {
    font-size: 10px;
  }
}
/* line 628, ../sass/_courses.scss */
section.courses_detail button.btn.focus, section.courses_detail button.btn:focus {
  color: #fff;
}

/* line 633, ../sass/_courses.scss */
section.courses_learning {
  margin-bottom: 25px;
}
/* line 635, ../sass/_courses.scss */
section.courses_learning h1 {
  font-size: 32px;
}
/* line 642, ../sass/_courses.scss */
section.courses_learning .detail_left .video img.pro {
  height: 380px;
  object-fit: cover;
}
/* line 647, ../sass/_courses.scss */
section.courses_learning .detail_left .video a {
  color: #fff;
}
/* line 653, ../sass/_courses.scss */
section.courses_learning .detail_left .courses-detail .Bold {
  margin-top: 15px;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 653, ../sass/_courses.scss */
  section.courses_learning .detail_left .courses-detail .Bold {
    font-size: 22px;
  }
}
/* line 662, ../sass/_courses.scss */
section.courses_learning .detail_left .courses-detail .overlate {
  overflow: hidden;
  max-height: 150px;
  font-size: 20px;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
@media (max-width: 767px) {
  /* line 662, ../sass/_courses.scss */
  section.courses_learning .detail_left .courses-detail .overlate {
    font-size: 17px;
  }
}
/* line 675, ../sass/_courses.scss */
section.courses_learning .detail_left .courses-detail #overlate {
  color: #038fe1;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 675, ../sass/_courses.scss */
  section.courses_learning .detail_left .courses-detail #overlate {
    font-size: 22px;
  }
}
/* line 682, ../sass/_courses.scss */
section.courses_learning .detail_left .courses-detail #overlate i {
  font-size: 17px;
}
@media (max-width: 767px) {
  /* line 682, ../sass/_courses.scss */
  section.courses_learning .detail_left .courses-detail #overlate i {
    font-size: 12px;
  }
}
/* line 695, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning {
  display: grid;
  margin-bottom: 25px;
}
/* line 699, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .names {
  position: relative;
  font-size: 19px;
  margin-bottom: 15px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  /* line 699, ../sass/_courses.scss */
  section.courses_learning .detail_rigth .courses_lerning .names {
    font-size: 20px;
  }
}
/* line 709, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .names .btn {
  line-height: 1;
  font-size: 22px;
  color: #fff;
  background: #ACACAC;
}
@media (max-width: 767px) {
  /* line 709, ../sass/_courses.scss */
  section.courses_learning .detail_rigth .courses_lerning .names .btn {
    font-size: 18px;
  }
}
/* line 721, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox {
  max-height: 400px;
  overflow: auto;
}
/* line 725, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .head {
  display: flex;
  background: #EBE9F2;
  font-size: 22px;
  padding: 5px 10px;
}
@media (max-width: 767px) {
  /* line 725, ../sass/_courses.scss */
  section.courses_learning .detail_rigth .courses_lerning .boox .head {
    font-size: 25px;
  }
}
/* line 736, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt {
  padding: 5px 10px;
  border-bottom: 1px solid #EBE9F2;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
/* line 743, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name {
  font-size: 19px;
  float: left;
  position: relative;
  display: inline-flex;
}
@media (max-width: 767px) {
  /* line 743, ../sass/_courses.scss */
  section.courses_learning .detail_rigth .courses_lerning .boox .listt .name {
    font-size: 22px;
  }
}
/* line 753, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name i {
  font-size: 15px;
  background: #fecc07;
  color: white;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
/* line 763, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 769, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container iframe,
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container object,
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 779, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .course-lesson-title {
  padding-left: 55px;
}
/* line 784, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name #percent {
  display: block;
  width: 160px;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 50px auto 20px;
  padding: 10px;
  color: #1ABC9C;
  font-size: 35px;
  text-align: center;
}
/* line 796, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name #donut {
  display: block;
  margin: 0px auto;
  color: #1ABC9C;
  font-size: 20px;
  text-align: center;
}
/* line 806, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name code {
  background: #FAFAFA;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0px 4px;
}
/* line 813, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .donut-size {
  font-size: 40px;
}
/* line 817, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 0px auto;
}
/* line 824, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}
/* line 833, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid #ffc107;
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}
/* line 844, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .right-side {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 849, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .label {
  position: absolute;
  bottom: -9px;
  left: 1px;
  display: block;
  background: none;
  border-radius: 50%;
  color: #7F8C8D;
  font-size: 18px;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}
/* line 864, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .smaller {
  padding-bottom: 20px;
  color: #BDC3C7;
  font-size: 0.45em;
  vertical-align: super;
}
/* line 871, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .name .pie-wrapper .shadow-c {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}
/* line 881, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth {
  float: right;
  margin-top: 8px;
}
/* line 885, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth span {
  margin-left: 8px;
}
/* line 889, ../sass/_courses.scss */
section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth .m {
  font-size: 20px;
}
@media (max-width: 767px) {
  /* line 889, ../sass/_courses.scss */
  section.courses_learning .detail_rigth .courses_lerning .boox .listt .rigth .m {
    font-size: 18px;
  }
}

/* line 5, ../sass/_article.scss */
section.article .CoursesItem .Item .boxx .detail {
  padding: 15px;
}
/* line 7, ../sass/_article.scss */
section.article .CoursesItem .Item .boxx .detail .name {
  height: 24px;
  line-height: 1.1;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* line 1, ../sass/_cart.scss */
section.seccart {
  padding-bottom: 1px;
}
/* line 3, ../sass/_cart.scss */
section.seccart .panel {
  border: 1px solid #EBE9F2;
  border-radius: 8px;
}
/* line 7, ../sass/_cart.scss */
section.seccart .panel .blog-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
/* line 16, ../sass/_cart.scss */
section.seccart .panel .blog-panel .blog1 {
  width: 75%;
  background: #28BEE3;
  border-top-left-radius: 8px;
  border-right: 2px solid white;
}
/* line 23, ../sass/_cart.scss */
section.seccart .panel .blog-panel .blog2 {
  width: 25%;
  background: #28BEE3;
  border-top-right-radius: 8px;
}
/* line 29, ../sass/_cart.scss */
section.seccart .panel .blog-panel .blog3 {
  width: 100%;
  background: #28BEE3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 37, ../sass/_cart.scss */
section.seccart .panel .blog-list {
  padding: 10px;
}
/* line 40, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list {
  position: relative;
  padding: 10px;
}
/* line 44, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list .close {
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 52, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list .price form span {
  font-size: 18px;
}
/* line 56, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list .price form label {
  margin-top: 0px;
}
/* line 60, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list .price form .form-control {
  padding: 0px 8px;
}
/* line 65, ../sass/_cart.scss */
section.seccart .panel .blog-list .CoursesItem-list hr {
  width: 100%;
}

/* line 2, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 15%;
}
/* line 8, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users {
  text-align: center;
  margin: 0 -20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
/* line 14, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users .img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
/* line 23, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users .name {
  margin-top: 15px;
}
/* line 27, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users .social {
  margin-top: 15px;
}
/* line 30, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users .social i {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #c1c1c1;
  height: 45px;
  width: 45px;
}
/* line 37, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .users .social i:hover {
  background: #FECC07;
  color: #fff;
}
/* line 45, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list {
  padding-top: 20px;
  margin: 0 -20px;
}
/* line 49, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul li {
  display: block;
  width: 100%;
}
/* line 58, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a {
  padding: 8px 20px;
  color: #808080;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* line 69, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a:hover {
  background-color: #FECC07;
  color: black;
}
/* line 74, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a.active {
  background-color: #FECC07;
  color: black;
}
/* line 79, ../sass/_instructors.scss */
.Sec_instructors_courses .course-profile-instructors .course-info-list ul li a i {
  margin-right: 10px;
  font-size: 20px;
}
/* line 89, ../sass/_instructors.scss */
.Sec_instructors_courses .list-views-courses {
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 93, ../sass/_instructors.scss */
.Sec_instructors_courses .list-views-courses .head {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -20px;
  margin-bottom: 15px;
}

/* line 2, ../sass/_login.scss */
.form-signin .file-drop-zone-title {
  padding: 45px 10px;
}
/* line 5, ../sass/_login.scss */
.form-signin .btn-file {
  padding: 0;
  background: #038FE1;
}
/* line 8, ../sass/_login.scss */
.form-signin .btn-file span {
  font-size: 26px;
}
/* line 12, ../sass/_login.scss */
.form-signin button {
  font-size: 26px;
  padding: 0;
  background: #B5001F;
}

/* line 1, ../sass/_chat.scss */
.LiveChat {
  position: relative;
  width: 100%;
  height: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
/* line 7, ../sass/_chat.scss */
.LiveChat ::-webkit-scrollbar {
  width: 10px;
}
/* line 12, ../sass/_chat.scss */
.LiveChat ::-webkit-scrollbar-track {
  background: #777777;
}
/* line 17, ../sass/_chat.scss */
.LiveChat ::-webkit-scrollbar-thumb {
  background: #d69d00;
}
/* line 22, ../sass/_chat.scss */
.LiveChat ::-webkit-scrollbar-thumb:hover {
  background: #b48400;
}
/* line 26, ../sass/_chat.scss */
.LiveChat #OpenChat {
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 999;
}
@media (max-width: 767px) {
  /* line 26, ../sass/_chat.scss */
  .LiveChat #OpenChat {
    width: 35px;
  }
}
/* line 38, ../sass/_chat.scss */
.LiveChat .UserChat {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: #29303b;
  display: none;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
/* line 51, ../sass/_chat.scss */
.LiveChat .UserChat .HederUser {
  width: 100%;
  background: #111a29;
  color: white;
  border-bottom: 2px solid #028fe1;
}
/* line 57, ../sass/_chat.scss */
.LiveChat .UserChat .HederUser .profile {
  display: flex;
  padding: 10px;
}
/* line 61, ../sass/_chat.scss */
.LiveChat .UserChat .HederUser .profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
}
/* line 69, ../sass/_chat.scss */
.LiveChat .UserChat .HederUser .profile .text {
  font-size: 30px;
  padding-left: 10px;
}
/* line 74, ../sass/_chat.scss */
.LiveChat .UserChat .HederUser .profile #CloseCaht {
  position: absolute;
  right: 10px;
  top: 18px;
  background: white;
  border-radius: 100%;
  font-size: 25px;
  padding: 0px;
  height: 35px;
  width: 35px;
}
/* line 88, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser {
  padding: 10px;
  color: white;
  height: 100%;
  overflow: auto;
  padding-bottom: 130px;
}
/* line 95, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box {
  position: relative;
  padding: 10px;
  cursor: pointer;
}
/* line 100, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box:hover {
  background: #1e2530;
}
/* line 104, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 41px;
  bottom: 10px;
  border-radius: 100%;
  border: 2px solid #29303b;
}
/* line 116, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box.online:after {
  background: #25ff00;
}
/* line 122, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box.offline:after {
  background: red;
}
/* line 127, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid white;
}
/* line 138, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box .content {
  padding-left: 55px;
  padding-top: 5px;
}
/* line 142, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box .content .name {
  font-size: 25px;
  font-weight: bold;
}
/* line 147, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box .content .noti {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 22px;
  background: #ff0100;
  padding: 1px 7px;
  height: 22px;
  width: 22px;
  line-height: 1;
  border-radius: 100%;
}
/* line 160, ../sass/_chat.scss */
.LiveChat .UserChat .ListUser .box .content i {
  position: absolute;
  right: 10px;
  top: 22px;
  font-size: 18px;
}
/* line 170, ../sass/_chat.scss */
.LiveChat .UserChat .ButtomUser {
  position: absolute;
  bottom: 0;
  background: #111a29;
  width: 100%;
  border-top: 2px solid #028fe1;
  padding: 5px 0;
  font-size: 30px;
  padding-left: 18px;
  color: white;
}
/* line 188, ../sass/_chat.scss */
.LiveChat .MassageChat {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: white;
  display: none;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
/* line 201, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat {
  width: 100%;
  background: white;
  color: #111a29;
  border-bottom: 2px solid #028fe1;
}
/* line 207, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .back {
  display: flex;
  padding: 12px 20px;
  font-size: 20px;
}
/* line 212, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .back i {
  cursor: pointer;
  padding-top: 8px;
}
/* line 218, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .profile {
  display: flex;
  margin-left: 8px;
}
/* line 222, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
}
/* line 230, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .profile .text {
  font-size: 23px;
  padding-left: 5px;
}
/* line 235, ../sass/_chat.scss */
.LiveChat .MassageChat .HederChat .profile #Close {
  position: absolute;
  right: 10px;
  top: 12px;
  background: white;
  border-radius: 100%;
  font-size: 25px;
  padding: 0px;
  height: 35px;
  width: 35px;
  border: 1px solid;
}
/* line 250, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat {
  padding: 10px;
  color: #111a29;
  height: 100%;
  overflow: auto;
  padding-bottom: 130px;
}
/* line 257, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box {
  position: relative;
  padding: 10px;
}
/* line 261, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #29303b;
}
/* line 272, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box .content {
  padding-left: 47px;
}
/* line 274, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box .content .text {
  font-size: 18px;
  background: #028fe1;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
/* line 280, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box .content .text:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  position: absolute;
  left: 49px;
  color: #028fe1;
  font-size: 25px;
  top: 8px;
}
/* line 293, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box.Friend img {
  left: unset;
  right: 8px;
}
/* line 297, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box.Friend .content {
  padding-left: unset;
  padding-right: 47px;
}
/* line 300, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box.Friend .content .text {
  background: #29303b;
}
/* line 302, ../sass/_chat.scss */
.LiveChat .MassageChat .ListChat .box.Friend .content .text:before {
  content: "\f0da";
  left: unset;
  right: 49px;
  color: #29303b;
}
/* line 314, ../sass/_chat.scss */
.LiveChat .MassageChat .ButtomChat {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  border-top: 2px solid #028fe1;
  padding: 10px 15px;
  font-size: 35px;
  color: #111a29;
}
/* line 324, ../sass/_chat.scss */
.LiveChat .MassageChat .ButtomChat form input {
  border: 1px solid #3b75ff;
}
/* line 327, ../sass/_chat.scss */
.LiveChat .MassageChat .ButtomChat form span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #3b75ff;
  color: white;
  border: 1px;
  cursor: pointer;
}

/* line 1, ../sass/_multipselect.scss */
.select2-container--default .select2-selection--single {
  height: 40px !important;
  border: 1px solid #707070 !important;
  padding: 5px;
}
