.LiveChat {
    position: relative;
    width: 100%;
    height: 100%;

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #777777;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(214, 157, 0);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(180, 132, 0);
    }

    #OpenChat {
        width: 60px;
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        z-index: 999;
        @media (max-width: 767px) {
            width: 35px;
        }  
    }

    .UserChat {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        max-width: 500px;
        background: rgb(41, 48, 59);
        display: none;
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);

        .HederUser {
            width: 100%;
            background: rgb(17, 26, 41);
            color: rgb(255, 255, 255);
            border-bottom: 2px solid rgb(2, 143, 225);

            .profile {
                display: flex;
                padding: 10px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 2px solid rgb(255, 255, 255);
                }

                .text {
                    font-size: 30px;
                    padding-left: 10px;
                }

                #CloseCaht {
                    position: absolute;
                    right: 10px;
                    top: 18px;
                    background: rgb(255, 255, 255);
                    border-radius: 100%;
                    font-size: 25px;
                    padding: 0px;
                    height: 35px;
                    width: 35px;
                }
            }
        }

        .ListUser {
            padding: 10px;
            color: rgb(255, 255, 255);
            height: 100%;
            overflow: auto;
            padding-bottom: 130px;

            .box {
                position: relative;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background: rgb(30, 37, 48);
                }

                &:after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 41px;
                    bottom: 10px;
                    border-radius: 100%;
                    border: 2px solid rgb(41, 48, 59);
                }

                &.online {
                    &:after {
                        background: rgb(37, 255, 0);
                    }
                }

                &.offline {
                    &:after {
                        background: rgb(255, 0, 0);
                    }
                }

                img {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 1px solid rgb(255, 255, 255);
                }

                .content {
                    padding-left: 55px;
                    padding-top: 5px;

                    .name {
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .noti {
                        position: absolute;
                        right: 40px;
                        top: 20px;
                        font-size: 22px;
                        background: rgb(255, 1, 0);
                        padding: 1px 7px;
                        height: 22px;
                        width: 22px;
                        line-height: 1;
                        border-radius: 100%;
                    }

                    i {
                        position: absolute;
                        right: 10px;
                        top: 22px;
                        font-size: 18px;
                    }
                }
            }
        }

        .ButtomUser {
            position: absolute;
            bottom: 0;
            background: rgb(17, 26, 41);
            width: 100%;
            border-top: 2px solid rgb(2, 143, 225);
            padding: 5px 0;
            font-size: 30px;
            padding-left: 18px;
            color: rgb(255, 255, 255);
        }
    }



    

    //////////////////////////////////////////////////////////////////////////////////////
    .MassageChat {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        max-width: 500px;
        background: rgb(255, 255, 255);
        display: none;
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);

        .HederChat {
            width: 100%;
            background: rgb(255, 255, 255);
            color: rgb(17, 26, 41);
            border-bottom: 2px solid rgb(2, 143, 225);

            .back {
                display: flex;
                padding: 12px 20px;
                font-size: 20px;

                i {
                    cursor: pointer;
                    padding-top: 8px;
                }
            }

            .profile {
                display: flex;
                margin-left: 8px;

                img {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 2px solid rgb(255, 255, 255);
                }

                .text {
                    font-size: 23px;
                    padding-left: 5px;
                }

                #Close {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    background: rgb(255, 255, 255);
                    border-radius: 100%;
                    font-size: 25px;
                    padding: 0px;
                    height: 35px;
                    width: 35px;
                    border: 1px solid;
                }
            }
        }

        .ListChat {
            padding: 10px;
            color: rgb(17, 26, 41);
            height: 100%;
            overflow: auto;
            padding-bottom: 130px;

            .box {
                position: relative;
                padding: 10px;

                img {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 1px solid rgb(41, 48, 59);
                }

                .content {
                    padding-left: 47px;
                    .text {
                        font-size: 18px;
                        background: rgb(2, 143, 225);
                        color: #fff;
                        padding: 10px;
                        border-radius: 8px;
                        &:before {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f0d9";
                            position: absolute;
                            left: 49px;
                            color: rgb(2, 143, 225);
                            font-size: 25px;
                            top: 8px;
                        }
                    }
                }
                &.Friend {
                    img {
                        left: unset;
                        right: 8px;
                    }
                    .content {
                        padding-left: unset;
                        padding-right: 47px;
                        .text {
                            background: rgb(41, 48, 59);
                            &:before {
                                content: "\f0da";
                                left: unset;
                                right: 49px;
                                color: rgb(41, 48, 59);
                            }
                        }
                    }
                }
            }
        }

        .ButtomChat {
            position: absolute;
            bottom: 0;
            background: rgb(255, 255, 255);
            width: 100%;
            border-top: 2px solid rgb(2, 143, 225);
            padding: 10px 15px;
            font-size: 35px;
            color: rgb(17, 26, 41);
            form {
                input {
                    border: 1px solid rgb(59, 117, 255);
                }
                span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background: rgb(59, 117, 255);
                    color: rgb(255, 255, 255);
                    border: 1px;
                    cursor: pointer;
                }
            }
        }
    }
}