.CoursesItem {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .Item {
        padding: 0 10px;
        // float: left;

        @media (max-width: 767px) {
            width: 50%;
        }

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 992px) {
            width: 33.33%;
        }

        @media (min-width: 1200px) {
            width: 33.33%;
        }

        @media (min-width: 1366px) {
            width: 33.33%;
        }

        &.colum4 {
            @media (min-width: 992px) {
                width: 25%;
            }
            .boxx {
                .detail {
                    padding: 10px 15px;
                }
            }
        }

        .boxx {
            position: relative;
            margin-bottom: 20px;
            box-shadow: 0px 0px 8px #d4d4d4;
            border-radius: 8px;

        }

        .img {
            overflow: hidden;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;

            img {
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
                border-radius: 8px 8px 0px 0px;
                height: 210px;
                object-fit: cover;
                @media (max-width: 767px) {
                    height: 100px;
                }  
            }

            &:hover {
                .hovv {
                    // opacity: 0;
                    display: block;
                }

                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .hovv {
                display: none;
                // display: block;
                position: absolute;
                background: rgba(41, 48, 59, 0.90);
                height: 100%;
                top: 0;
                width: 100%;
                border-radius: 8px 8px 0px 0px;
                z-index: 99;

                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 28px;
                    width: fit-content;

                    span {
                        color: #fff;
                    }
                }
            }

        }

        .ribbin {
            position: absolute;
            top: 15px;
            left: 0px;
            font-size: 22px;
            line-height: 1.1;
            z-index: 9;

            .box {
                color: #fff;
                padding: 0px 8px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                margin-bottom: 2px;
                display: table;

                &.new {
                    background: #28BEE3;
                }

                &.pro {
                    background: #FF0000;
                }
            }
        }

        .detail {
            padding: 30px 60px;
            @media (max-width: 767px) {
                padding: 10px 5px;
            }
            .name {
                color: #29303B;
                text-align: center;
                font-size: 26px;
                height: 55px;
                line-height: 1.1;
                display: -webkit-box !important;
                -webkit-line-clamp: 2;
                -moz-line-clamp: 2;
                -ms-line-clamp: 2;
                -o-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                -o-box-orient: vertical;
                box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                @media (max-width: 767px) {
                    font-size: 20px;
                    height: 43px;
                }
            }

            .teacher {
                text-align: center;
                font-size: 18px;
                padding: 8px 0;
                height: 40px;
                display: -webkit-box !important;
                -webkit-line-clamp: 1;
                -moz-line-clamp: 1;
                -ms-line-clamp: 1;
                -o-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                -o-box-orient: vertical;
                box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                @media (max-width: 767px) {
                    padding: 5px 0;
                    line-height: 1;
                }
            }

            .text {
                margin-top: 5px;
                height: 65px;
                line-height: 1.1;
                display: -webkit-box !important;
                -webkit-line-clamp: 3;
                -moz-line-clamp: 3;
                -ms-line-clamp: 3;
                -o-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                -o-box-orient: vertical;
                box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }

            .dateview {
                font-size: 15px;
                display: flex;
                margin-top: 8px;

                .deta {
                    width: 80%;
                }
                .view {
                    width: 20%;
                    text-align: right;
                }
            }
        }

        .price {
            text-align: center;

            .promotion {
                background: #FF0000;
                color: #fff;
                text-align: center;
                padding: 3px 0;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                &:hover {
                    box-shadow: 0px 0px 5px #FF0000;
                }

                .left {
                    width: 50%;
                    font-size: 20px;
                    position: relative;
                    line-height: 1;
                    padding-top: 8px;
                    @media (max-width: 767px) {
                        width: 100%;
                        font-size: 16px;
                        line-height: 1;
                        padding-top: 8px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 40px;
                        background: rgb(255, 255, 255);
                        right: 0;
                        top: 5px;
                        @media (max-width: 767px) {
                            width: 100%;
                            height: 1px;
                            top: 40px;
                            background: #ca0100;
                            
                        }
                    }
                    .ket {
                        text-decoration: line-through;
                    }
                }

                .right {
                    width: 50%;
                    font-size: 33px;
                    @media (max-width: 767px) {
                        width: 100%;
                        font-size: 25px;
                        line-height: 1.2;
                    }
                }
            }

            .normal {
                background: rgb(41, 48, 59);
                color: rgb(255, 255, 255);
                display: inline-block;
                font-size: 33px;
                padding: 3px 10%;
                @media (max-width: 767px) {
                    font-size: 25px;
                    padding: 2px 5%;
                }

                &:hover {
                    box-shadow: 0px 0px 5px #29303b;
                }
            }

            .free {
                background: #25A946;
                color: rgb(255, 255, 255);
                display: inline-block;
                font-size: 33px;
                padding: 3px 10%;
                @media (max-width: 767px) {
                    font-size: 25px;
                    padding: 2px 5%;
                }
                &:hover {
                    box-shadow: 0px 0px 5px #25A946;
                }
            }
        }
    }
}

.CoursesItem-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .img {
        width: 30%;

        img {
            border-radius: 8px;
            // height: 150px;
            object-fit: cover;
        }
    }

    .detail-text {
        width: 50%;
        padding: 0 10px;

        .name {
            font-size: 22px;
            height: 22px;
            width: 100%;
            line-height: 1.1;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -moz-line-clamp: 1;
            -ms-line-clamp: 1;
            -o-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            -o-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        .user {
            display: flex;
        
            .left {
                width: 45px;
                img {
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
            .right {
                font-size: 18px;
                width: 100%;
                margin-left: 5px;
                padding: 10px 5px;
            }
        }
    }

    .price {
        width: 20%;
    }
}