@font-face {
	font-family: 'THSarabunNew';
	src: url("../fonts/THSarabunNew.woff");
}

@font-face {
	font-family: 'THSarabunNew-Bold';
	src: url("../fonts/THSarabunNew-Bold.woff");
}

body {
	font-family: 'THSarabunNew' !important;
	color: #58585B !important;
	font-size: 20px;
	background: rgba(41, 48, 59, 0.2);

	.Bold {
		font-family: 'THSarabunNew-Bold' !important;
	}

	.blog-container {
		position: relative;
		width: 100%;
		padding-top: 120px;
		background: rgb(255, 255, 255);
		background-size: cover !important;
		background-repeat: no-repeat !important;

		@media (max-width: 767px) {
			padding-top: 90px;
		}

		@media (min-width: 1366px) {
			max-width: 1366px;
			margin-right: auto;
			margin-left: auto;
			box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
		}
	}

	a {
		color: #000;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	P {
		margin: 0;
	}

	.ImgFluid {
		max-width: 100%;
		height: auto;
		width: 100%;
	}
}

.min-sm {
	@media (max-width: 767px) {
		display: none;
	}
	@media (min-width: 768px) {
		display: block;
	}
}
.max-xs {
	@media (max-width: 767px) {
		display: block;
	}
	@media (min-width: 768px) {
		display: none;
	}
}


// .container {
// 	max-width: 100%;

// 	@media (min-width: 1200px) {
// 		padding: 0 50px;
// 	}

// 	@media (min-width: 1400px) {
// 		padding: 0 100px;
// 	}

// 	@media (min-width: 1600px) {
// 		padding: 0 120px;
// 	}

// 	@media (min-width: 1800px) {
// 		padding: 0 220px;
// 	}
// }

header {
	position: fixed;
	max-width: 1366px;
	z-index: 999;
	width: inherit;
	top: 0;
	box-shadow: 0px 2px 5px rgba(41, 48, 59, 0.3);

	nav {
		background: #29303B;

		@media (max-width: 767px) {
			.navbar-toggler {
				border: 1px solid rgb(255, 255, 255);
				padding: 3px 13px;
				margin: 0;

				i {
					margin-top: 4px;
					color: #fff;
				}
			}
		}

		.nav-link {
			color: #fff;
			padding: 0px;
			font-size: 28px;
		}
	}

	.menu {
		background: #fff;
		padding: 5px 0px;
		font-size: 35px;

		@media (max-width: 767px) {
			font-size: 20px;
		}

		.blog {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;

			.boxx1 {
				width: 50%;
				@media (max-width: 767px) {
					width: 40%;
				}
			}
			.boxx2 {
				width: 50%;
				@media (max-width: 767px) {
					width: 60%;
				}
			}
		}

		.logo {
			position: absolute;
			top: 58px;
			height: 100px;
			// box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
			box-shadow: 0px 0px 0px 0px, 0px 3px 3px -3px rgba(41, 48, 59, 0.8);
			border-radius: 100%;
			background: #fff;

			@media (max-width: 767px) {
				height: 40px;
				right: 4px;
				top: 4px;
			}
		}

		.tv {
			display: flow-root;
			color: rgb(41, 48, 59);
			padding-left: 145px;

			@media (max-width: 767px) {
				padding-left: 0px;
			}

			img {
				height: 30px;

				@media (max-width: 767px) {
					height: 15px;
				}
			}
		}

		.login {
			display: contents;

			#loginface {
				float: right;
			}

			.dropdown {
				float: right;
				margin-left: 20px;
				padding-right: 28px;

				@media (max-width: 767px) {
					margin-left: 0px;
					padding-right: 6px;
				}

				&.img {
					margin-left: 0px;
					padding-right: 0px;	
					@media (max-width: 767px) {
						padding-top: 0px;
					}
					&:after {
						opacity: 0;
					}
				}


				&:after {
					content: '';
					position: absolute;
					top: 5px;
					right: 0;
					height: 40px;
					width: 2px;
					background: #ACACAC;

					@media (max-width: 767px) {
						height: 18px;
					}
				}

				button {
					font-size: 35px;
					background: rgb(255, 255, 255);
					padding: 0;
					@media (max-width: 767px) {
						font-size: 20px;
					}

					&:after {
						display: none;
					}

					i {
						font-size: 22px;
						@media (max-width: 767px) {
							font-size: 18px;
						}
					}
				}

				.dropdown-item {
					font-size: 28px;
					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}

			.btn-custom {
				float: right;
				font-size: 35px;
				padding: 5px 10px;
				margin-left: 20px;
				line-height: 1;

				@media (max-width: 767px) {
					font-size: 20px;
				}
			}

			.link {
				float: right;
				margin-left: 28px;
				font-size: 30px;
				position: relative;

				.noti {
					position: absolute;
					top: 2px;
					right: -10px;
					background: rgb(181, 0, 31);
					color: rgb(255, 255, 255);
					font-size: 22px;
					padding: 1px 6.5px;
					line-height: 1;
					border-radius: 100%;
					width: 22px;
					height: 22px;
					@media (max-width: 767px) {
						font-size: 16px;
						padding: 1px 5px;
						width: 16px;
						height: 16px;
					}
				}

				@media (max-width: 767px) {
					margin-left: 7px;
					font-size: 15px;
				}

				i {
					padding-top: 15px;
					font-size: 22px;
					@media (max-width: 767px) {
						padding-top: 7px;
						font-size: 18px;
					}

				}

				img {
					width: 52px;
					height: 52px;
					object-fit: contain;
					border-radius: 100%;
					border: 1px solid rgb(171, 172, 171);
					margin-top: 1px;

					@media (max-width: 767px) {
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}
}

footer {
	font-size: 20px;
	color: #fff;

	.footer {
		background: #29303B;
		padding-top: 4%;
		padding-bottom: 4%;

		a {
			color: #fff;
		}

		.detail0 {
			.social {
				display: flex;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@media (max-width: 767px) {
					padding-left: 20%;
				}
				.cool {
					width: 25%;
					text-align: center;
					@media (max-width: 767px) {
						width: 20%;
					}

					img {
						height: 60px;
						width: 60px;
						@media (max-width: 767px) {
							height: 45px;
							width: 45px;
						}
					}
				}
			}
		}

		.detail1 {
			text-align: center;

			img {
				width: 100px;
				height: 100px;
				box-shadow: 0 0 8px rgba(41, 48, 59, 0.5);
				border-radius: 100%;
			}
		}

		.detail2 {
			.posit {
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: fit-content;
			}

			.head {
				text-align: center;
				font-size: 34px;
			}

			.i {
				width: 25px;
				display: inline-flex;
				font-size: 15px;
			}
		}
	}

	.coppy {
		background: #29303B;
		padding: 15px;
		text-align: center;
		border-top: 2px solid #fff;
	}
}

.form-control {
	font-size: 22px;
	padding: 2px 10px;
	border: 1px solid #707070;
	&:focus {
		border: 1px solid #28BEE3;
		box-shadow: 0 0 0 0rem rgb(133, 223, 245);
	}
	&.error {
		border: 1px solid rgb(255, 0, 0);
	}
}
.btn-success, .btn-info, .btn-danger {
	// font-size: 22px;
	i {
		font-size: 15px;
	}
}

form {
	label {
		margin: 0;
		margin-top: 10px;
		font-size: 22px;
	}
	.error {
		color: rgb(255, 0, 0);
	}
	.checkbox {
		position: relative;

		.name {
			position: absolute;
			top: 4px;
			left: 20px;
			color: #29303B;
			height: 22px;
			overflow: hidden;
		}

		label {
			font-size: 18px;
			input[type="checkbox"] {
				display: none;
			}

			input[type="checkbox"]+.cr>.cr-icon {
				transform: scale(3) rotateZ(-20deg);
				opacity: 0;
				transition: all .3s ease-in;
			}

			input[type="checkbox"]:checked+.cr>.cr-icon {
				transform: scale(1) rotateZ(0deg);
				opacity: 1;
			}

			input[type="checkbox"]:disabled+.cr {
				opacity: .5;
			}
		}

		.cr {
			position: relative;
			display: inline-block;
			border: 1px solid #a9a9a9;
			border-radius: 2px;
			width: 15px;
			height: 15px;
			float: left;

			.cr-icon {
				position: absolute;
				font-size: 10px;
				line-height: 0;
				top: 50%;
				left: 20%;
			}
		}
	}
}


.title {
	text-align: center;
	color: #038FE1;
	margin: 50px 0 30px 0;
	

	h1 {
		font-size: 40px;
		position: relative;
		display: inline-flex;
		@media (max-width: 767px) {
			font-size: 30px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 200px;
			height: 2px;
			background: #038FE1;
			width: 100%;
			@media (max-width: 767px) {
				width: 145px;
			}
		}
	}

	.text {
		margin-top: 5px;
		font-size: 30px;
		color: #ACACAC;
		@media (max-width: 767px) {
			font-size: 17px;
		}
	}
}

.btn-custom {
	font-size: 28px;
	color: rgb(255, 255, 255);
	background-color: #038FE1;
	border-radius: .25rem;
	padding: 2px 10px;
	// line-height: 1;

	&:hover {
		color: rgb(255, 255, 255);
		background-color: rgb(0, 92, 145);
	}
}

.pagination {
	li {
		a {
			color: #ACACAC;
			border: 0px solid #000;
			border-radius: 100% !important;
			padding: 2px 12px;
			height: 30px;
			width: 30px;
			margin: 0;
			margin-right: 5px;

			&.active {
				background: #038FE1;
				color: #fff;
			}
		}
	}
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 60%;
	}
}

.Form_login {
	border: 1px solid rgba(0, 0, 0, 0);

	.modal-body {
		padding: 0;

		.blog-col {
			display: flex;

			@media (max-width: 992px) {
				display: block;
			}

			.blog {
				width: 50%;
				background-size: cover;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;

				@media (max-width: 992px) {
					width: 100%;
				}
			}
		}
	}

	.box-left {
		font-size: 26px;
		padding: 12%;

		h2 {
			color: #28BEE3;
			font-size: 30px
		}

		.remember {
			margin: 15px 0;
			display: flex;

			.ww {
				width: 50%;

				.custom-control-label {
					padding-left: 22px;

					&:before {
						top: 8px;
						left: 0;
						width: 18px;
						height: 18px;
					}
				}

				button {
					font-size: 26px;
					line-height: 1;
					background: #28BEE3;
					border-color: #28BEE3;
					padding: 5px 15px;
				}

				&.r {
					text-align: right;
				}
			}
		}

		.login_face {
			text-align: center;
			margin-top: 15px;

			img {
				width: auto;
				height: 40px
			}
		}
	}

	.box-rigth {
		padding: 10%;

		.logos {
			text-align: center;

			img {
				width: 100px;
			}
		}

		.text {
			padding: 5% 20%;
			font-size: 22px;

			h2 {
				font-size: 30px
			}
		}

		.btn-custom {
			border: 2px solid #fff;
			background: #B5001F;
		}
	}

	.close {
		position: absolute;
		right: 8px;
		top: 4px;
		z-index: 9;
	}
}

.background-image {
	background: #fff;
	margin: 60px 0;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #9a9a9a;
}

.btn.focus, .btn:focus {
	outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 108, 223, 0);
}

.MenuCourses {
	box-shadow: 2px 2px 8px #dadada;
	border-radius: 5px;
	padding: 8px;

	h2 {
		padding: 5px 0;
	}

	.sidebar-menu {
		list-style-type: none;
		padding: 0;
		a {
			font-size: 25px;
			padding: 2px 0px 2px 2px;

			i {
				font-size: 15px;
				margin-right: 5px;
			}

			img {
				width: 15px;
				margin-top: -5px;
			}
		}

		.sidebar-submenu {
			a {
				font-size: 20px;

				i {
					font-size: 15px;
					margin-right: 0;
				}

				img {
					width: 13px;
					margin-top: -5px;
				}
			}
		}
	}
}

.social {
	margin: 15px 0;
	a {
		color: #fff;
	}

	.boxx {
		padding: 5px 10px;
		display: inline-block;

		&.f {
			background: #3D5A96;
		}

		&.t {
			background: #2AA3EF;
		}

		&.g {
			background: #DA483F;
		}
	}
}


.mb-5 {
	margin-bottom: 50px !important;
}
.mb-4 {
	margin-bottom: 40px !important;
}
.mb-3 {
	margin-bottom: 30px !important;
}
.mb-2 {
	margin-bottom: 20px !important;
}

#data-list_wrapper {
	width: 100%;
}