.Sec_instructors_courses {
    .course-profile-instructors {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 15%;

        .users {
            text-align: center;
            margin: 0 -20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 15px;

            .img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                border-radius: 100%;
                border: 5px solid #fff;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            }

            .name {
                margin-top: 15px;
            }

            .social {
                margin-top: 15px;

                i {
                    padding: 10px;
                    border-radius: 100%;
                    border: 1px solid #c1c1c1;
                    height: 45px;
                    width: 45px;

                    &:hover {
                        background: #FECC07;
                        color: #fff;
                    }
                }
            }
        }

        .course-info-list {
            padding-top: 20px;
            margin: 0 -20px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    width: 100%;

                    a {
                        padding: 8px 20px;
                        color: #808080;
                        display: flex;
                        align-items: center;
                        transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;

                        &:hover {
                            background-color: #FECC07;
                            color: rgb(0, 0, 0);
                        }

                        &.active {
                            background-color: #FECC07;
                            color: rgb(0, 0, 0);
                        }

                        i {
                            margin-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .list-views-courses {
        padding: 0 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .head {
            padding: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0 -20px;
            margin-bottom: 15px
        }
    }
}