.form-signin {
    .file-drop-zone-title {
        padding: 45px 10px;
    }
    .btn-file {
        padding: 0;
        background: #038FE1;
        span {
            font-size: 26px;
        }
    }
    button {
        font-size: 26px;
        padding: 0;
        background: #B5001F;
    }
}