@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/SukhumvitSet-Medium.ttf");
}
/* line 6, ../sass/_custom.scss */
body {
  font-family: 'Rajdhani';
  font-size: 15px;
  color: #3c3c3a;
  padding-top: 110px;
}
@media only screen and (max-width: 991px) {
  /* line 6, ../sass/_custom.scss */
  body {
    padding-top: 60px;
  }
}
/* line 16, ../sass/_custom.scss */
body .preloader {
  display: none;
}
/* line 20, ../sass/_custom.scss */
body a {
  color: unset;
}
/* line 23, ../sass/_custom.scss */
body a:hover {
  text-decoration: none;
}
/* line 28, ../sass/_custom.scss */
body p {
  margin: 0;
}

/* line 33, ../sass/_custom.scss */
.wfull {
  width: 100%;
}

/* line 42, ../sass/_custom.scss */
.c-red {
  color: red;
}

/* line 46, ../sass/_custom.scss */
.c_blue {
  color: #2c54a3;
}

/* line 50, ../sass/_custom.scss */
.c_pink {
  color: #b22d6c;
}

/* line 54, ../sass/_custom.scss */
.c_green {
  color: #099734;
}

/*------------------------- CSS @media ---------------------------*/
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/_custom.scss */
  .max-xs {
    display: none !important;
  }

  /* line 65, ../sass/_custom.scss */
  .min-xs {
    display: unset !important;
  }
}
@media only screen and (min-width: 992px) {
  /* line 71, ../sass/_custom.scss */
  .min-sm {
    display: unset !important;
  }

  /* line 75, ../sass/_custom.scss */
  .max-sm {
    display: none !important;
  }
}
/*-------- max --------*/
@media only screen and (max-width: 767px) {
  /* line 82, ../sass/_custom.scss */
  .max-xs {
    display: unset !important;
  }

  /* line 86, ../sass/_custom.scss */
  .min-xs {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  /* line 92, ../sass/_custom.scss */
  .min-sm {
    display: none !important;
  }

  /* line 96, ../sass/_custom.scss */
  .max-sm {
    display: unset !important;
  }
}
/*------------------------- // CSS @media  ---------------------------*/
/* line 103, ../sass/_custom.scss */
header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}
/* line 109, ../sass/_custom.scss */
header .logo {
  padding: 10px 0;
}
@media only screen and (max-width: 991px) {
  /* line 109, ../sass/_custom.scss */
  header .logo {
    padding: 0px 0;
  }
}
/* line 116, ../sass/_custom.scss */
header .logo img {
  width: 100px;
}
@media only screen and (max-width: 991px) {
  /* line 116, ../sass/_custom.scss */
  header .logo img {
    width: 50px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 116, ../sass/_custom.scss */
  header .logo img {
    width: 35px;
  }
}
/* line 129, ../sass/_custom.scss */
header .form_search {
  margin-top: 15px;
  display: flex;
}
@media only screen and (max-width: 991px) {
  /* line 129, ../sass/_custom.scss */
  header .form_search {
    margin-top: 0px;
    display: block;
  }
}
/* line 138, ../sass/_custom.scss */
header .form_search .blog {
  position: relative;
  min-width: 120px;
  text-align: center;
  padding-top: 8px;
  color: #7b0d41;
  border-right: 1px solid #e3e3e3;
}
@media only screen and (max-width: 991px) {
  /* line 138, ../sass/_custom.scss */
  header .form_search .blog {
    min-width: 40px;
    float: right;
    border-right: 0px solid #e3e3e3 !important;
  }
}
/* line 152, ../sass/_custom.scss */
header .form_search .blog .img-lo {
  height: 23px;
}
/* line 158, ../sass/_custom.scss */
header .form_search .blog a i {
  margin-right: 3px;
  font-size: 18px;
}
/* line 164, ../sass/_custom.scss */
header .form_search .blog.search {
  width: 100%;
  padding-top: 0;
  margin: 0 10px;
  border-right: 0px solid #e3e3e3;
}
/* line 171, ../sass/_custom.scss */
header .form_search .blog.cart {
  min-width: 70px;
}
@media only screen and (max-width: 991px) {
  /* line 171, ../sass/_custom.scss */
  header .form_search .blog.cart {
    min-width: 52px;
  }
}
/* line 180, ../sass/_custom.scss */
header .form_search .blog.lang .active {
  background: #813782;
  color: #fff;
  padding: 2px 3px;
  border-radius: 15px;
}
@media (min-width: 992px) {
  /* line 191, ../sass/_custom.scss */
  header .header-area .main-header .main-menu ul li a {
    font-size: 14px;
    padding: 15px 0px;
    margin: 0 13px;
  }
}
@media (min-width: 1100px) {
  /* line 199, ../sass/_custom.scss */
  header .header-area .main-header .main-menu ul li a {
    font-size: 16px;
    padding: 15px 0px;
    margin: 0 8px;
  }
}
@media (min-width: 1200px) {
  /* line 207, ../sass/_custom.scss */
  header .header-area .main-header .main-menu ul li a {
    font-size: 16px;
    padding: 15px 0px;
    margin: 0 17px;
  }
}
@media (min-width: 1300px) {
  /* line 215, ../sass/_custom.scss */
  header .header-area .main-header .main-menu ul li a {
    font-size: 16px;
    padding: 15px 0px;
    margin: 0 20px;
  }
}
/* line 223, ../sass/_custom.scss */
header #navigation a.active {
  color: #b22d6c;
}

/* line 229, ../sass/_custom.scss */
main {
  background-image: url("../../../../images/main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 50px;
  min-height: 70vh;
}

/* line 238, ../sass/_custom.scss */
section {
  padding-bottom: 25px;
}
/* line 241, ../sass/_custom.scss */
section img {
  max-width: 100%;
}

/* line 246, ../sass/_custom.scss */
footer {
  background-image: url("../../../../images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
/* line 252, ../sass/_custom.scss */
footer .link {
  margin-bottom: 8px;
}

/* line 257, ../sass/_custom.scss */
.form-control {
  padding: .5rem;
  border: 2px solid transparent;
  border-radius: 30px;
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #2c54a3, #b22d6c);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
/* line 267, ../sass/_custom.scss */
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

/* line 273, ../sass/_custom.scss */
em.error {
  color: #aa3d7a;
}

/* line 278, ../sass/_custom.scss */
.form-control-search input {
  border-radius: 18px 0 0 18px;
}
/* line 282, ../sass/_custom.scss */
.form-control-search .input-group-prepend {
  margin-left: -2px;
}
/* line 286, ../sass/_custom.scss */
.form-control-search .input-group-text {
  color: #fff;
  border-radius: 0px 18px 18px 0px !important;
  border: 0;
  background: #2c54a3;
  background: linear-gradient(45deg, #2c54a3 0%, #b22d6c 100%);
  transition: all .25s ease-in;
}
/* line 294, ../sass/_custom.scss */
.form-control-search .input-group-text:hover {
  background: linear-gradient(45deg, #b22d6c 0%, #2c54a3 100%);
}
/* line 298, ../sass/_custom.scss */
.form-control-search .input-group-text i {
  left: 0px;
}

/* line 304, ../sass/_custom.scss */
.material-icons {
  font-size: 14px;
}

/* line 308, ../sass/_custom.scss */
.rating {
  margin-top: 15px;
}
/* line 311, ../sass/_custom.scss */
.rating .checked {
  color: orange;
}

/* line 316, ../sass/_custom.scss */
.slide_banner {
  position: relative;
}
/* line 320, ../sass/_custom.scss */
.slide_banner .col {
  padding: 0;
  width: 50%;
}
/* line 324, ../sass/_custom.scss */
.slide_banner .col .text {
  position: absolute;
  left: 10%;
  bottom: 18%;
  font-size: 18px;
  width: fit-content;
  color: #505050;
}
@media only screen and (max-width: 991px) {
  /* line 324, ../sass/_custom.scss */
  .slide_banner .col .text {
    font-size: 11px;
    padding: 0 20px;
  }
}
/* line 339, ../sass/_custom.scss */
.slide_banner .col .text h1,
.slide_banner .col .text h2,
.slide_banner .col .text h5,
.slide_banner .col .text p {
  margin: 0;
  font-weight: bold;
}
/* line 347, ../sass/_custom.scss */
.slide_banner .col .text h1 {
  font-size: 45px;
  letter-spacing: 3px;
}
@media only screen and (max-width: 991px) {
  /* line 347, ../sass/_custom.scss */
  .slide_banner .col .text h1 {
    font-size: 14px;
    letter-spacing: 0px;
  }
}
/* line 357, ../sass/_custom.scss */
.slide_banner .col .text h2 {
  font-size: 35px;
  letter-spacing: 3px;
}
@media only screen and (max-width: 991px) {
  /* line 357, ../sass/_custom.scss */
  .slide_banner .col .text h2 {
    font-size: 13px;
    letter-spacing: 0px;
  }
}
/* line 368, ../sass/_custom.scss */
.slide_banner .col .text button {
  font-size: 25px;
  padding: 0 8px;
}
@media only screen and (max-width: 991px) {
  /* line 368, ../sass/_custom.scss */
  .slide_banner .col .text button {
    font-size: 14px;
  }
}
/* line 378, ../sass/_custom.scss */
.slide_banner .enter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
@media only screen and (max-width: 991px) {
  /* line 378, ../sass/_custom.scss */
  .slide_banner .enter {
    top: 60%;
  }
}
/* line 388, ../sass/_custom.scss */
.slide_banner .enter .en {
  padding-top: 25px;
  background: #a43172;
  color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  /* line 388, ../sass/_custom.scss */
  .slide_banner .enter .en {
    padding-top: 20px;
    height: 70px;
    width: 70px;
  }
}

/* line 408, ../sass/_custom.scss */
.pagination .page-item .page-link {
  margin: 0 5px;
  border-radius: 40px;
  color: unset;
  background: #dbdbdb;
  border: 0px solid #dee2e6;
}
/* line 415, ../sass/_custom.scss */
.pagination .page-item .page-link:hover {
  color: #fff;
  background: -webkit-linear-gradient(to left, #b22d6c, #2c54a3);
  background: linear-gradient(to left, #b22d6c, #2c54a3);
}
/* line 421, ../sass/_custom.scss */
.pagination .page-item .page-link.active {
  color: #fff;
  background: -webkit-linear-gradient(to left, #b22d6c, #2c54a3);
  background: linear-gradient(to left, #b22d6c, #2c54a3);
}

/* line 430, ../sass/_custom.scss */
.social-icon {
  position: fixed;
  right: 10px;
  top: 50%;
  display: none;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 438, ../sass/_custom.scss */
.social-icon.scoll {
  display: unset;
}
/* line 442, ../sass/_custom.scss */
.social-icon .item {
  display: block;
}
/* line 445, ../sass/_custom.scss */
.social-icon .item img {
  height: 40px;
  border-radius: 100%;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 454, ../sass/_custom.scss */
.fa_search {
  position: relative;
}
/* line 457, ../sass/_custom.scss */
.fa_search .fa-search {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #999999;
  cursor: pointer;
}

/* line 469, ../sass/_custom.scss */
.table-responsive table td,
.table-responsive table th {
  min-width: 140px;
}

/* line 1, ../sass/_style.scss */
.card-header {
  padding: .75rem 0;
  background-color: transparent;
  border-bottom: 1px solid #999999;
}
/* line 7, ../sass/_style.scss */
.card-header a .fa-question {
  background: linear-gradient(to left, #b22d6c, #2c54a3);
  border-radius: 40px;
  padding: 5px 6px;
  color: white;
  font-size: 10px;
}

/* line 17, ../sass/_style.scss */
.card {
  border: 1px solid transparent;
  background-color: transparent;
}

/* line 22, ../sass/_style.scss */
.card-body {
  border: 1px solid #999999;
  border-top: 1px solid rgba(153, 153, 153, 0);
  background: #fff;
}

/* line 28, ../sass/_style.scss */
.slicknav_nav a.active {
  color: #9e3374;
}

/* line 32, ../sass/_style.scss */
.modal {
  z-index: 9999;
}

/* line 36, ../sass/_style.scss */
body.modal-open {
  position: fixed;
  width: 100%;
}

/* line 41, ../sass/_style.scss */
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
@media (max-width: 768px) {
  /* line 41, ../sass/_style.scss */
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}
@media (min-width: 992px) {
  /* line 41, ../sass/_style.scss */
  .modal-dialog {
    max-width: 620px;
  }
}
/* line 57, ../sass/_style.scss */
.modal-dialog .modal-content {
  border-radius: 0;
}
/* line 60, ../sass/_style.scss */
.modal-dialog .modal-content .logo {
  width: 120px;
}
/* line 64, ../sass/_style.scss */
.modal-dialog .modal-content .close {
  position: absolute;
  right: 0;
  z-index: 99;
  background: #2c54a3;
  color: white;
  opacity: 1;
  padding: 6px 12px;
}
/* line 73, ../sass/_style.scss */
.modal-dialog .modal-content .close:hover {
  opacity: 1 !important;
  background: #b22d6c;
}

/* line 81, ../sass/_style.scss */
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
  color: white;
  border-radius: 0px 18px 18px 0px !important;
  border: 0;
  background: #2c54a3;
  background: linear-gradient(45deg, #2c54a3 0%, #b22d6c 100%);
  transition: all .25s ease-in;
}

/* line 91, ../sass/_style.scss */
.enter {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9;
  margin: 0;
}

/* line 98, ../sass/_style.scss */
.custom-control-label::before,
.custom-file-label,
.custom-select {
  padding: .5rem;
  border: 2px solid transparent;
  border-radius: 31px;
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #2c54a3, #b22d6c);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

/* line 111, ../sass/_style.scss */
.custom-file-label::after {
  top: -1px;
  right: -1px;
}

/* line 116, ../sass/_style.scss */
.dropdown-menu {
  border: 1px solid transparent;
  box-shadow: 0 0 5px #d1d1d1;
  border-radius: 0;
}
/* line 121, ../sass/_style.scss */
.dropdown-menu.show {
  top: 12px !important;
}

/* line 126, ../sass/_style.scss */
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background: linear-gradient(45deg, #2c54a3 0%, #b22d6c 100%);
}

/* line 134, ../sass/_style.scss */
.tt-dataset {
  max-height: 180px;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* line 140, ../sass/_style.scss */
.C-lsAction {
  position: absolute;
  width: 100%;
  top: 50%;
}
@media (max-width: 991px) {
  /* line 140, ../sass/_style.scss */
  .C-lsAction {
    top: 35%;
  }
}
/* line 150, ../sass/_style.scss */
.C-lsAction a .nb {
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 100px;
  box-shadow: 0 0 2px #a4a4a4;
}
/* line 159, ../sass/_style.scss */
.C-lsAction a:hover path {
  fill: #a43172;
}
/* line 164, ../sass/_style.scss */
.C-lsAction a#goToPrevSlide {
  float: left;
  margin-left: -30px;
}
@media (max-width: 991px) {
  /* line 164, ../sass/_style.scss */
  .C-lsAction a#goToPrevSlide {
    margin-left: 0px;
  }
}
/* line 173, ../sass/_style.scss */
.C-lsAction a#goToNextSlide {
  float: right;
  margin-right: -30px;
}
@media (max-width: 991px) {
  /* line 173, ../sass/_style.scss */
  .C-lsAction a#goToNextSlide {
    margin-right: 0px;
  }
}

/* line 184, ../sass/_style.scss */
.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #9c3374 !important;
}

/* line 189, ../sass/_style.scss */
.swal2-container {
  z-index: 9999 !important;
}

/* line 1, ../sass/_blog.scss */
.blog-title {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 15px;
}
/* line 6, ../sass/_blog.scss */
.blog-title .text {
  position: relative;
  display: inline-block;
}
/* line 10, ../sass/_blog.scss */
.blog-title .text:before {
  content: '';
  width: 150px;
  height: 2px;
  background: linear-gradient(45deg, #2c54a3 0%, #b22d6c 100%);
  position: absolute;
  bottom: -8px;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* line 24, ../sass/_blog.scss */
.blog-general {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px #d7d7d7;
  margin-bottom: 25px;
  padding: 15px;
}

/* line 33, ../sass/_blog.scss */
.blog-default {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px #d7d7d7;
  margin-bottom: 25px;
  margin-left: -8px;
  margin-right: -8px;
}
/* line 41, ../sass/_blog.scss */
.blog-default img.wfull {
  overflow: hidden;
}
/* line 46, ../sass/_blog.scss */
.blog-default:hover .detail {
  color: #fff;
}
/* line 49, ../sass/_blog.scss */
.blog-default:hover .detail:before {
  opacity: 1;
  top: 0;
}
/* line 55, ../sass/_blog.scss */
.blog-default:hover .detail .enter .en {
  border: 3px solid white;
  font-size: 25px;
  padding-top: 3px;
}
/* line 64, ../sass/_blog.scss */
.blog-default .detail {
  position: relative;
  z-index: 9;
  color: #000;
  padding: 15px;
  background: #fff;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
@media only screen and (max-width: 991px) {
  /* line 64, ../sass/_blog.scss */
  .blog-default .detail {
    padding: 10px;
  }
}
/* line 78, ../sass/_blog.scss */
.blog-default .detail:before {
  opacity: 0;
  content: '';
  background: linear-gradient(to left, #b22d6c, #2c54a3);
  position: absolute;
  left: 0;
  top: -100%;
  z-index: -1;
  height: 100%;
  width: 100%;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 92, ../sass/_blog.scss */
.blog-default .detail .title {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 22px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  /* line 105, ../sass/_blog.scss */
  .blog-default .detail .title h5 {
    font-size: 18px;
  }
}
/* line 111, ../sass/_blog.scss */
.blog-default .detail .expert {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 44px;
  margin-bottom: 10px;
}
/* line 125, ../sass/_blog.scss */
.blog-default .detail .enter {
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -50%);
}
/* line 131, ../sass/_blog.scss */
.blog-default .detail .enter .en {
  padding-top: 11px;
  background: -webkit-linear-gradient(to left, #b22d6c, #2c54a3);
  background: linear-gradient(to left, #b22d6c, #2c54a3);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 148, ../sass/_blog.scss */
.blog-default .buttom {
  display: flex;
  padding: 5px;
}
/* line 152, ../sass/_blog.scss */
.blog-default .buttom .box {
  width: 50%;
}
/* line 155, ../sass/_blog.scss */
.blog-default .buttom .box .btn {
  font-size: 10px;
}

/* line 162, ../sass/_blog.scss */
.blog-product {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px #d7d7d7;
  margin-bottom: 25px;
  margin-left: -8px;
  margin-right: -8px;
}
/* line 173, ../sass/_blog.scss */
.blog-product:hover .detail_cart_add {
  opacity: 1;
  top: 0;
}
/* line 179, ../sass/_blog.scss */
.blog-product .detail {
  background: #fff;
  color: #000;
  padding: 15px;
}
@media only screen and (max-width: 991px) {
  /* line 179, ../sass/_blog.scss */
  .blog-product .detail {
    padding: 10px;
  }
}
/* line 189, ../sass/_blog.scss */
.blog-product .title {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 22px;
  margin-bottom: 10px;
}
/* line 203, ../sass/_blog.scss */
.blog-product .expert {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 45px;
  margin-bottom: 10px;
}
/* line 217, ../sass/_blog.scss */
.blog-product .price {
  text-align: center;
  padding: 10px 0;
}
/* line 223, ../sass/_blog.scss */
.blog-product .price span.p1 {
  font-weight: bold;
  color: #2c54a3;
}
/* line 228, ../sass/_blog.scss */
.blog-product .price span.p2 {
  font-weight: bold;
  color: #b22d6c;
}
/* line 233, ../sass/_blog.scss */
.blog-product .price span.def {
  font-size: 14px;
  text-decoration: line-through;
}
/* line 239, ../sass/_blog.scss */
.blog-product .price .discount {
  color: #b22d6c;
  font-size: 25px;
  font-weight: bold;
}
/* line 247, ../sass/_blog.scss */
.blog-product .detail_cart_add {
  opacity: 0;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
/* line 257, ../sass/_blog.scss */
.blog-product .detail_cart_add .detail_cart {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 15px;
}

/* line 268, ../sass/_blog.scss */
.btn.btn-dufault {
  border-radius: 40px;
  padding: 7px 15px;
  background: -webkit-linear-gradient(to left, #b22d6c, #2c54a3);
  background: linear-gradient(to left, #b22d6c, #2c54a3);
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}
@media (min-width: 992px) {
  /* line 268, ../sass/_blog.scss */
  .btn.btn-dufault {
    min-width: 140px;
    max-width: 100%;
  }
}
/* line 281, ../sass/_blog.scss */
.btn.btn-dufault:hover {
  background: -webkit-linear-gradient(to left, #b22d6c, #b22d6c);
  background: linear-gradient(to left, #b22d6c, #b22d6c);
}

/* line 287, ../sass/_blog.scss */
.btn.btn-primary {
  color: #b22d6c;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 30px;
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #b22d6c, #b22d6c);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
@media (min-width: 992px) {
  /* line 287, ../sass/_blog.scss */
  .btn.btn-primary {
    min-width: 140px;
    max-width: 100%;
  }
}
/* line 303, ../sass/_blog.scss */
.btn.btn-primary i {
  color: #b22d6c;
}
/* line 307, ../sass/_blog.scss */
.btn.btn-primary:hover {
  border: 2px solid #b22d6c;
  color: #fff;
  background: #b22d6c;
}
/* line 312, ../sass/_blog.scss */
.btn.btn-primary:hover i {
  color: #fff;
}
/* line 317, ../sass/_blog.scss */
.btn.btn-primary:disabled {
  border: 2px solid #b22d6c;
  color: #fff;
  background: #b22d6c;
}

/* line 325, ../sass/_blog.scss */
.btn.w-a {
  min-width: auto;
}

/* line 331, ../sass/_blog.scss */
.btn-group .btn {
  background: unset;
  color: unset;
}
/* line 335, ../sass/_blog.scss */
.btn-group .btn.active {
  color: #fff;
  background: -webkit-linear-gradient(to left, #b22d6c, #2c54a3);
  background: linear-gradient(to left, #b22d6c, #2c54a3);
}

/* line 2, ../sass/_product.scss */
section.product .kit {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 12px;
  background: #a89b99;
}

/* line 14, ../sass/_product.scss */
section.product_detail .expert {
  color: #b22d6c;
}
/* line 18, ../sass/_product.scss */
section.product_detail img {
  max-width: 100%;
}
/* line 22, ../sass/_product.scss */
section.product_detail .minus_plus {
  width: 130px;
}
/* line 25, ../sass/_product.scss */
section.product_detail .minus_plus input {
  text-align: center;
  height: 28px;
  border-radius: 30px !important;
}
/* line 31, ../sass/_product.scss */
section.product_detail .minus_plus .btn {
  min-width: 0;
  font-size: 10px;
  padding: 5px 10px;
}
/* line 39, ../sass/_product.scss */
section.product_detail .tap_color img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 47, ../sass/_product.scss */
section.product_detail .price {
  padding: 10px 0;
}
/* line 52, ../sass/_product.scss */
section.product_detail .price span.p1 {
  font-size: 25px;
  font-weight: bold;
  color: #2c54a3;
}
/* line 58, ../sass/_product.scss */
section.product_detail .price span.p2 {
  font-size: 20px;
  font-weight: bold;
  color: #b22d6c;
}
/* line 64, ../sass/_product.scss */
section.product_detail .price span.def {
  font-size: 14px;
  text-decoration: line-through;
}
/* line 72, ../sass/_product.scss */
section.product_detail .btn-select-color {
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #b22d6c, #b22d6c);
  color: #b22d6c;
  border: 2px solid #b22d6c;
  border-radius: 14px;
}
/* line 78, ../sass/_product.scss */
section.product_detail .btn-select-color.active {
  background: linear-gradient(to left, #b22d6c, #b22d6c);
  color: #ffffff;
}
/* line 85, ../sass/_product.scss */
section.product_detail .btn-select-size {
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #b22d6c, #b22d6c);
  color: #b22d6c;
  border: 2px solid #b22d6c;
  border-radius: 14px;
}
/* line 91, ../sass/_product.scss */
section.product_detail .btn-select-size.active {
  background: linear-gradient(to left, #b22d6c, #b22d6c);
  color: #ffffff;
}

/* line 3, ../sass/_contact.scss */
section.contact .address i {
  font-size: 24px;
  margin-right: 8px;
  height: 35px;
  width: 35px;
  background: #4b96f3;
  color: #fff;
  padding: 5px 7px;
  border-radius: 100%;
}
/* line 13, ../sass/_contact.scss */
section.contact .address img {
  width: 50px;
  border-radius: 100%;
}

/* line 2, ../sass/_member.scss */
section.member .profile-left {
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 9, ../sass/_member.scss */
section.member .profile-left .top {
  position: relative;
  padding-top: 15px;
  background: linear-gradient(45deg, #2c54a3 0%, #b22d6c 100%);
  color: #fff;
}
/* line 15, ../sass/_member.scss */
section.member .profile-left .top::before {
  content: '';
  position: absolute;
  height: 25%;
  width: 100%;
  background: #fff;
  bottom: 0;
  left: 0;
}
/* line 25, ../sass/_member.scss */
section.member .profile-left .top img {
  position: relative;
  z-index: 9;
  background: #eeeeee;
  max-width: 170px;
  border: 5px solid white;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}
/* line 38, ../sass/_member.scss */
section.member .profile-left .bottom {
  background: #fff;
}

/* line 3, ../sass/_cart.scss */
section.cart .table-hover .blog {
  display: flex;
}
/* line 6, ../sass/_cart.scss */
section.cart .table-hover .blog .box {
  width: auto;
}
/* line 9, ../sass/_cart.scss */
section.cart .table-hover .blog .box.first {
  display: ruby;
  margin-right: 10px;
}
/* line 14, ../sass/_cart.scss */
section.cart .table-hover .blog .box img {
  max-width: 75px;
}
@media only screen and (max-width: 991px) {
  /* line 14, ../sass/_cart.scss */
  section.cart .table-hover .blog .box img {
    max-width: 50px;
  }
}
/* line 22, ../sass/_cart.scss */
section.cart .table-hover .blog .box .detail {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 26px;
}
/* line 35, ../sass/_cart.scss */
section.cart .table-hover .blog .box .spect {
  display: ruby;
}
/* line 38, ../sass/_cart.scss */
section.cart .table-hover .blog .box .spect .right {
  float: right;
}
/* line 41, ../sass/_cart.scss */
section.cart .table-hover .blog .box .spect .right .minus_plus {
  width: 130px;
}
/* line 44, ../sass/_cart.scss */
section.cart .table-hover .blog .box .spect .right .minus_plus input {
  text-align: center;
  height: 28px;
  border-radius: 30px !important;
}
/* line 50, ../sass/_cart.scss */
section.cart .table-hover .blog .box .spect .right .minus_plus .btn {
  font-size: 10px;
  min-width: 0;
  padding: 5px 11px;
}

/* line 63, ../sass/_cart.scss */
section.cart_payment {
  /*when a value is selected, this class removes the content */
}
/* line 64, ../sass/_cart.scss */
section.cart_payment .blog-bank {
  margin: 15px 0;
}
/* line 67, ../sass/_cart.scss */
section.cart_payment .blog-bank .form-check-input {
  top: 10px;
}
/* line 71, ../sass/_cart.scss */
section.cart_payment .blog-bank .box {
  display: inline-block;
  margin-right: 10px;
}
/* line 75, ../sass/_cart.scss */
section.cart_payment .blog-bank .box .img {
  height: 45px;
  margin-top: -18px;
}
/* line 83, ../sass/_cart.scss */
section.cart_payment #customFile .custom-file-control:lang(en)::after {
  content: "Select file...";
}
/* line 87, ../sass/_cart.scss */
section.cart_payment #customFile .custom-file-control:lang(en)::before {
  content: "Click me";
}
/* line 92, ../sass/_cart.scss */
section.cart_payment .custom-file-control.selected:lang(en)::after {
  content: "" !important;
}
/* line 96, ../sass/_cart.scss */
section.cart_payment .custom-file {
  overflow: hidden;
}
/* line 100, ../sass/_cart.scss */
section.cart_payment .custom-file-control {
  white-space: nowrap;
}
/* line 105, ../sass/_cart.scss */
section.cart_payment table thead th {
  border-bottom: 2px solid #f9eff8;
  border-bottom-width: 2px;
  background: #f9eff8;
}
/* line 111, ../sass/_cart.scss */
section.cart_payment .table-bordered td,
section.cart_payment .table-bordered th {
  border: 1px solid #494b97;
  border-bottom-color: #494b97;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
/* line 119, ../sass/_cart.scss */
section.cart_payment .table-bordered th {
  border-top: 0;
  border-left: 0;
}
/* line 124, ../sass/_cart.scss */
section.cart_payment .table-bordered td {
  border-bottom: 0;
  border-left: 0;
}
/* line 129, ../sass/_cart.scss */
section.cart_payment .table-redius {
  overflow: hidden;
  width: auto;
  border: 2px solid transparent;
  border-radius: 30px;
  background: linear-gradient(to right, white, white), linear-gradient(15deg, #2c54a3, #b22d6c);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
/* line 139, ../sass/_cart.scss */
section.cart_payment .table-redius table {
  margin-bottom: 0;
}
