body ,h1, h2, h3, h4, h5, h6{
	font-family: Prompt,'MS Sans Serif', Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
}
h5 {
	font-size: 22px;
}
.offer-img::before{
	background-color:unset;
}
iframe {
	width: 90%;
	height: 600px;
}
.menu-btn{
	/*font-family: 'SukhumvitSet-Bold';*/
	font-family: Prompt,'MS Sans Serif', Geneva, sans-serif;
}
.top-rated-text > span.price,
.product-content-hanicraft > h5 ,
.product-content h5,
.price span.new,
.cart-price h4,
.sidebar-title{
	color: #fb6830;
}
.product-content-hanicraft > h4{
	font-size: 16px;
	color: #383838;
	margin-bottom: 6px;
	height: 50px;
	line-height: 1.5;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
.price span.new{
	font-size: 35px;
}
a.icon-cart-furniture span.green{
	background: #050035 none repeat scroll 0 0;
	background: rgb(246,61,45);
	background: linear-gradient(130deg, rgba(246,61,45,1) 0%, rgba(255,146,51,1) 100%);
	color: #ffffff;
}
.menu-btn,.quickview-btn-cart > a{
	background: #ec7310;
}
.categories-subtitle,
.menu-hover .single-dropdown li a:hover,
.shop-menu .category-dropdown-style ul li a:hover,
.sidebar-categories li a:hover,
.product-size li a:hover,
.menu-style-2 ul li:hover a {
	color: #fb6830;
}
.order-button-payment input:hover,
.sidebar-search form > button:hover{
	background: #050035 none repeat scroll 0 0;
	background: rgb(246,61,45);
	background: linear-gradient(130deg, rgba(246,61,45,1) 0%, rgba(255,146,51,1) 100%);
	color: #ffffff;
}
.order-button-payment input:hover, .sidebar-search form > button:hover{
	border: 1px solid #fb6830;
}
.shop-menu .category-dropdown-style ul li a{
	color: #383838;
}

.cart-plus-minus {
	padding: 13px 8px 8px 8px;
}
.custom-col-two-5.custom-col-style-4 ,
.col-lg-6.col-md-6.col-xl-3 {
	padding: 10px;
}
.custom-col-two-5.custom-col-style-4:hover,.col-lg-6.col-md-6.col-xl-3:hover {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3);
	box-shadow: 0 1px 6px rgba(0,0,0,.3);
}
.top-rated-text > span.cut,
.product-content > span.cut,
.product-content-hanicraft > span.cut{
	text-decoration: line-through;
	color: #ccc;
	font-size: 14px;
}
.top-rated-text > span.persent,
.product-content > span.persent,
.persent{
	color: #666666;
}
.product-content > span.persent{
	font-size: 14px;
}
.section-title > h2{
	font-size: 30px;
}
.product-content-hanicraft label {
	font-size: 12px;
	font-weight: 400;
	color: #9E9E9E;
}

.checkout-form-list input[type="checkbox"] {
	display:none;
}



input[type="checkbox"] + label span {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	background: url(/template/metronic/assets/plugins/icheck/skins/square/yellow.png) -23px top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
	background:url(/template/metronic/assets/plugins/icheck/skins/square/yellow.png) -48px  top no-repeat;
}

.product-img a img,.product-img-hanicraft a img{
	object-fit: cover;
}
p.cut{
	float: right;
}
p.cut label{
	font-size: 12px;
}
.filter-swatch{
	display: inline-block;
	margin-right: 10px;
}
.filter-swatch span{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: -2px;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.ptb-100 {
	padding: 20px 0;
}
.shop-selector label,.sidebar-title,.sidebar-categories li a,.footer-widget-title,
.menu-style-2 nav > ul > li > a,.product-content > span,.categories-subtitle,.product-tags ul li a,
.cart-btn,.cart-page-total > h2,.cart-page-total li,.qwick-view-content > h3,.select-option-part label,
.quickview-btn-cart > a,.mean-container .mean-nav ul li a,.top-rated-text > h4,.product-content-hanicraft > h5,
.product-details-content > h3, .inner-wrapper-sticky > h3,.description-review-title a,.section-title-3 > h2 {
	font-weight: normal;
}
.product-details-content > h3, .inner-wrapper-sticky > h3 {
	font-size: 18px;
}
.product-content h4{
	font-size: 16px;
}
.description-review-title a{
	font-size: 20px;
}
.section-title-3 > h2::before,.section-title-3 > h2::after{
	top: 13px;
}
.section-title-3 > h2 {
	font-size: 22px;
}
.mt-60 {
    margin-top: 40px;
}
.mb-60 {
    margin-bottom: 40px;
}
